[2015-01-16 22:13] pixelzoom opened #1 "directory structure violates PhET convention"
Source-code directory structure for a 1-screen sim should look like this:

[code]

[2015-01-16 23:44] pixelzoom commented on #1
@jbphet said on Skype:

[2015-01-21 17:36] jbphet commented on #1
Looks like @andrey-zelenkov has fixed this.  Related commits are:
b6cc312a0c0b1e318ba2a69708b38e0fed8df987
086810752d40e0f1f12b6b67f4fe8910c9d76ef6

Closing.

[2015-01-21 17:36] #1 closed

[2015-02-10 07:28] jonathanolson opened #2 "Sim won't start with assertions enabled"
Looks like DeviationsNode is creating a panel with empty content (can't resize to fit). Recommend adding the children first.

[2015-02-10 07:30] jonathanolson opened #3 "Property type documentation"
Instead of ```{Property}```, please also indicate the type of the property's value, like ```{Property.<number>}```.

[2015-02-11 08:56] andrey-zelenkov commented on #2
Fixed assertion bug (prevented panel with empty content). Reassign to @jonathanolson for verification.

[2015-02-11 08:57] andrey-zelenkov commented on #3
Added property type documentation. Reassign to @jonathanolson for verification.

[2015-02-11 20:05] jonathanolson commented on #3
Looks good, thanks!

[2015-02-11 20:05] #3 closed

[2015-02-11 20:06] jonathanolson commented on #2
Looks good, thanks!

[2015-02-11 20:06] #2 closed

[2015-03-02 22:18] pixelzoom opened #4 "dependencies in package.json and config.js don't match"
config.js specifies VEGAS, which is missing from package.json.

Both files also need VIBE (vibe) which is a dependency of vegas.

[2015-04-20 17:04] ariel-phet opened #5 ""Question Mark" button does not function"
In this sim, pressing the question mark button in the left control panel is supposed to open up a dialog box with a description of the formula used for calculations. This formula box is described in the specification for the simulation.

[2015-04-22 15:32] amanda-phet opened #6 "Cursor should change to hand when hovering over point"
When the cursor is over a point (whether in the bucket or on the graph) or an error bar, it should change to a hand to indicate that it is click-able.

[2015-04-22 15:35] amanda-phet opened #7 "Curve does not reflect values in equation or slider"
The sliders seem to be correctly manipulating the equation, but the curve itself is incorrect. It looks like the values are negated- if c = 2.4785, the curve is graphed with c = -2.4785. This seems to be a problem for all curves that are created with the adjustable fit sliders.

![screen shot 2015-04-22 at 9 29 27 am](https://cloud.githubusercontent.com/assets/7852916/7278476/f3c07a8e-e8d2-11e4-80

[2015-04-22 15:40] amanda-phet opened #8 "Add spacing to values reading"
![screen shot 2015-04-22 at 9 37 10 am](https://cloud.githubusercontent.com/assets/7852916/7278511/455b9130-e8d3-11e4-8db6-9d5f5cc7b170.png)

There should be spaces before and after "=" as well as after ",".

![screen shot 2015-04-22 at 9 39 48 am](https://cloud.githubusercontent.com/assets/7852916/7278565/8eedc5c0-e8d3-11e4-8c72-08f6e8a398ab.png)

[2015-04-22 15:43] amanda-phet opened #9 "Deviations panel text is not aligned correctly"
The "Deviations" text should follow the same alignment rules as the "Equation" text. It needs to be vertically centered with the [+] and should be farther from the [+].

![screen shot 2015-04-22 at 9 29 03 am](https://cloud.githubusercontent.com/assets/7852916/7278635/e80aa3c6-e8d3-11e4-9022-4881969b8999.png)

[2015-04-22 15:45] amanda-phet opened #10 "User should be able to get a point by clicking anywhere on the bucket"
Just as we did with Least-Squares Regression (https://github.com/phetsims/least-squares-regression/issues/35), a user should be able to drag a point by clicking anywhere on the bucket.

[2015-04-27 18:05] andrey-zelenkov commented on #10
Added getting point by clicking anywhere on the bucket. Reassign to @amanda-phet for verification.

[2015-04-27 18:06] andrey-zelenkov commented on #9
Added alignment for deviations panel text. Reassign to @amanda-phet for verification.

[2015-04-27 18:07] andrey-zelenkov commented on #8
Added spaces to point values reading. Reassign to @amanda-phet for verification.

[2015-04-27 18:07] andrey-zelenkov commented on #6
Added hand cursor for points and bucket. Reassign to @amanda-phet for verification.

[2015-04-27 18:37] amanda-phet commented on #9
Looks much better now. Closing.

[2015-04-27 18:37] #9 closed

[2015-04-27 18:37] amanda-phet commented on #8
This is fixed. Closing.

[2015-04-27 18:37] #8 closed

[2015-04-27 18:39] amanda-phet commented on #10
I was not able to get a point from clicking on the bucket. I still need to click directly on an orange point.

[2015-04-27 18:40] amanda-phet commented on #6
This is working now, on points as well as the error bars.

[2015-04-27 18:40] #6 closed

[2015-04-28 14:03] andrey-zelenkov commented on #7
Fixed inverting of y-axis. Reassign to @amanda-phet for verification.

[2015-05-01 18:02] amanda-phet commented on #7
This does not appear to be fixed.

[2015-05-07 18:21] andrey-zelenkov commented on #4
Added VIBE dependency in config.js, added "vegas" and "vibe" dependencies package.json. Reassign to @pixelzoom for verification.

[2015-05-07 18:32] andrey-zelenkov commented on #7
The angle of the curve changed for me. Are you still can reproduce angle from screenshot above? Or can you clarify issue (perhaps I misunderstood what need to be done)? Now it  looks for me:

![screen shot 2015-05-07 at 21 23 29](https://cloud.githubusercontent.com/assets/3500611/7522655/5ba7db82-f4ff-11e4-9281-a4d789294640.png)

[2015-05-07 18:37] #4 closed

[2015-05-07 18:42] amanda-phet commented on #10
This seems to be working now. Closing.

[2015-05-07 18:42] #10 closed

[2015-05-07 19:20] amanda-phet commented on #7
This looks fixed now. Thanks!

[2015-05-07 19:20] #7 closed

[2015-05-12 18:03] andrey-zelenkov commented on #5
I have question about implementing dialog box. Should it be done using JOIST/Dialog.js or JOIST/OptionsDialog.js? When I try to create dialog node using one of this components, for example:

    Dialog.call( this, content, {
      modal: true,
      hasCloseButton: false
    } );

I'm getting "TypeError: Cannot read property 'center' of null" (Dialog.js line 133):

    dialog.center = simBounds.ce

[2015-05-12 18:47] jonathanolson commented on #5
First of all, JOIST/Dialog should be the correct choice (don't want "Options" text included at the top).

Second, the dialog should not be added to the parent node, especially at creation. It should use the pattern to be shown:
[code]

I saw commented out that it was being created and added when the original parent was created, and it looks like this causes an error because the sim hasn't been ful

[2015-05-14 16:54] andrey-zelenkov commented on #5
I've added help menu but I have question about text description below the formula. Should "N" and "f" signs converted to images and integrated into other text or is there a better way?

[2015-05-14 17:17] jonathanolson commented on #5
Yes. To copy-paste from the implementation details from the Curve Fitting HTML5 doc:

[2015-05-14 18:51] andrey-zelenkov commented on #5
And one more question: I've tried to insert image into HTMLText using replacement, but I've got next result:

![screen shot 2015-05-14 at 21 48 34](https://cloud.githubusercontent.com/assets/3500611/7639248/2ba61ef6-fa83-11e4-90b6-166b5a7684b8.png)

I've tried to wrap image into new Image() but without success. What could be the reason?

[2015-05-14 19:15] jonathanolson commented on #5
Try adding in ```'<img src="' + image.src + '">'```.

[2015-05-14 23:44] andrey-zelenkov commented on #5
Thanks a lot Jonathan! Added help dialog for question button. Reassign to @ariel-phet for verification.

[2015-05-18 17:18] bryo5363 opened #11 "Curve is manipulated when data point is outside curve boundary"
I noticed that when the user selects a data point from the collection while a curve is displayed on the graph, the curve will automatically adjust to fit that point. I think that the curve. should change only when the new data point is inside of the graph.

![curvefitting](https://cloud.githubusercontent.com/assets/7717368/7685960/9b87cf0c-fd4f-11e4-92eb-1c2c9ad318ba.gif)

[2015-05-18 17:29] phet-steele opened #12 "Point flyback to bucket"
This sim could make use of implementing the flyback animations that Least Squares Regression has when points return to the bucket. Currently, in 1.0.0-dev.4, when a point is dragged off the graph and released, the point just disappears and it's not clear as to the fate of the point.
LSR sim:
http://phet.colorado.edu/sims/html/least-squares-regression/latest/least-squares-regression_en.html

[2015-05-18 17:48] phet-steele opened #13 "Adjustable fit values not saved"
1. Put some points on the graph.
2. Select either a quadratic or cubic curve.
3. Choose adjustable fit and move all the sliders around. Take note of their values.
4. Switch back to best fit.
5. Go back to adjustable fit. Your values for c and d (and b for cubic curves) will have been lost and set to match the values of the best fit. Values for b (or a for cubic curves) remain unaffected.

Tested i

[2015-05-18 17:57] phet-steele opened #14 "Residual lines do not appear"
The error bars turn gray and lose their vertical lines when "Residuals" is checked.

![gray error](https://cloud.githubusercontent.com/assets/5863899/7686689/e8531404-fd54-11e4-855e-3c47ae53cb1d.PNG)

Tested on Win 8.1 browsers.

Troubleshooting information (do not edit):
Name: Curve Fitting
URL: http://www.colorado.edu/physics/phet/dev/html/curve-fitting/1.0.0-dev.4/curve-fitting_en.html?dev
Vers

[2015-05-18 18:03] phet-steele commented on #13
Causes me to have situations with two graphs that look different but have the same equation:

![best curve](https://cloud.githubusercontent.com/assets/5863899/7686823/e03b0c12-fd55-11e4-858e-d3503875055d.PNG)

![adjustable curve](https://cloud.githubusercontent.com/assets/5863899/7686826/e5233f9c-fd55-11e4-8bfe-02dabcf37c46.PNG)

Also notice this second curve became cubic.

[2015-05-18 19:31] bryo5363 opened #15 "Curve fitting type is not preserved"
To elaborate on @phet-steele previous issue:

1. open sim
2. click curve, throw on some data points
3. click quadratic
4. adjust fit
5. click cubic

note that the cubic selection now has a quadratic curve

[2015-05-19 15:49] orejolaphet opened #16 "Values for data points are displayed when outside of graphing plane."
Related to Issue https://github.com/phetsims/curve-fitting/issues/11
Occurred on OSX 10.9.5 with safari 7.0.6

The data point values are displayed when outside of the graphing plane.
To reproduce:
Open sim
Check Values box
Drag point outside of plane

![screen shot 2015-05-19 at 9 49 39 am](https://cloud.githubusercontent.com/assets/5631059/7707294/53db0184-fe0c-11e4-849f-630792107db9.png)

Troubl

[2015-05-19 15:57] orejolaphet opened #17 "Drop down displays disappear if points in vertical line"
Tested on OSX 10.9.6 Safari 7.0.6

Placing a certain number data points in a vertical line (dependent of the selection of linear, quadratic, cubic) all drop down displays along with container disappear.

![screen shot 2015-05-19 at 9 45 20 am](https://cloud.githubusercontent.com/assets/5631059/7707428/fb28bef4-fe0c-11e4-9176-9a426c524b86.png)

To Reproduce:
Open Sim
Check curve
Select Either (Line

[2015-05-19 15:59] orejolaphet opened #18 "Drop down displays disappear if points in vertical line"
Tested on OSX 10.9.6 Safari 7.0.6

Placing a certain number data points in a vertical line (dependent of the selection of linear, quadratic, cubic) all drop down displays, point container, and PhET menue disappear.

![screen shot 2015-05-19 at 9 45 20 am](https://cloud.githubusercontent.com/assets/5631059/7707428/fb28bef4-fe0c-11e4-9176-9a426c524b86.png)

To Reproduce:
Open Sim
Check curve
Select

[2015-05-19 15:59] orejolaphet commented on #18
The objects locations still exist, that is the cursor changes when you hover over the locations of the objects, but are still not displayed.

[2015-05-20 02:30] ariel-phet opened #19 "Curve Fitting Master Checklist"
## Design
- [ ] **Design doc created** (Date: / / / )
- [ ] **Legacy sim docs/info gathered**
- [ ] **Learning goals and standards identified** (Date: / / / )
- [ ] **Design concept complete**  (Date: / / / )
- [ ] **Wireframes complete** (Date: / / / )
- [ ] **Mockups complete** (Date: / / / )
  - [ ] Mockups checked for colorblind and greyscale
- [ ] **Design doc sent for quote** (Date: / / / )

[2015-05-20 03:15] amanda-phet commented on #11
I agree- that is an odd behavior right now.

[2015-05-20 03:19] amanda-phet commented on #14
The error bars should turn gray. However, you found a bug that made the residual lines not appear. Can you reproduce it?

This is what it is supposed to look like:

![screen shot 2015-05-19 at 9 18 26 pm](https://cloud.githubusercontent.com/assets/7852916/7718375/ae47f48c-fe6c-11e4-8aa8-2fa67572541e.png)

[2015-05-20 03:20] amanda-phet commented on #13
The fact that you have a cubic is very problematic.

[2015-05-20 03:21] amanda-phet commented on #16
These values should only be present within the graph.

[2015-05-20 03:23] amanda-phet commented on #17
We had a similar issue in LSR- how to handle an undefined slope of a curve. This needs to be addressed.

[2015-05-20 03:24] amanda-phet commented on #18
Is this a duplicate of #17 ?

[2015-05-20 03:41] amanda-phet commented on #14
I just thought I'd try to reproduce it and realized you only had two points and a linear fit... since two points make a line the points will be exactly on the line, hence no residuals.

I'll go ahead and close this since there doesn't appear to be a problem.

[2015-05-20 03:41] #14 closed

[2015-05-20 03:54] phet-steele commented on #14
The lines I was talking about were the lines that go from the point to the little horizontal lines on top and bottom of the point. It's making more sense to me now as to why it is practical those aren't shown.

[2015-05-20 15:27] orejolaphet commented on #18
Oops. Yes, this is a duplicate of  issue https://github.com/phetsims/curve-fitting/issues/17.

Closing

[2015-05-20 15:27] #18 closed

[2015-05-20 15:41] orejolaphet opened #20 "Adjustable fit coefficients are not initialized at zero"
Tested on OSX 10.9.5 Safari 7.0.5

Immediately after opening the sim with no points added (also after reseting the sim) the coefficients of the polynomial shown in Adjustable fit menu are not all equal to zero.

True for all equations: Linear, Quadratic, Cubic.
![screen shot 2015-05-20 at 9 38 31 am](https://cloud.githubusercontent.com/assets/5631059/7729810/01267a54-fed4-11e4-9c59-746e05764fc1.pn

[2015-05-20 15:49] orejolaphet opened #21 "Reset button does not initialize "c" coefficient to zero."
Possibly Related to https://github.com/phetsims/curve-fitting/issues/20
Tested on OSX 10.9.5 Safari 7.0.5

If you change the magnitude of the "c" coefficient from the Adjustable Fit menu, the reset but will bring the coefficients "a", "b", "d" to zero (even if they have been changed) but the "c" coefficient remains what every it was prior to to reset button.

"C" coefficient remains the same for a

[2015-05-20 16:11] amanda-phet commented on #20
This is a feature from the original sim. The idea is to not have the curve hiding behind the x-axis.

[2015-05-20 16:32] orejolaphet commented on #20
I'm confused? I don't see a curve when there are no points added. Should there be a horizontal line @ y=2.7?

[2015-05-20 16:41] bryo5363 opened #22 "Placing a data point behind the curve equation will disable movement of point"
If you place a data point behind the drop-down window for the curve equation (top left), you will not be able to access that data point again

[2015-05-20 16:41] bryo5363 commented on #22
Place the point in the top left corner for best results

[2015-05-20 16:43] amanda-phet commented on #20
Yes there should be! I noticed that the curve didn't show up until I added points. That is a bug.

[2015-05-20 17:17] orejolaphet commented on #20
@amanda-phet I'll close this issue and open a new issue related to the lack of an initial line.

[2015-05-20 17:17] #20 closed

[2015-05-20 17:23] orejolaphet opened #23 "Default Adjustable Fit line is not displayed"
Tested on OSX 10.9.4 Safari 7.0.5

The default adjustable fit line is not displayed once adjustable fit is checked.

To reproduce:
Open sim
Click curve
Click Adjustable Fit

On the original sim:
![screen shot 2015-05-20 at 11 18 39 am](https://cloud.githubusercontent.com/assets/5631059/7732090/68dfb4e0-fee2-11e4-82b1-ce7a219b4edc.png)
HTML5:
![screen shot 2015-05-20 at 11 19 04 am](https://cloud.g

[2015-05-20 20:07] ariel-phet commented on #5
Functioning now...but the images are low quality, perhaps we could use mipmapping here?

[2015-05-20 20:08] ariel-phet commented on #5
@jonathanolson can you take a look at this implementation - the images for the equations are really aliased.

[2015-05-21 05:00] bryo5363 commented on #15
along with this, once the user clicks best fit and then adjust on a certain curve type (cubic for best results) the best fit line is preserved but once the user interacts with the sliders, the equation rapidly changes.

[2015-05-22 15:24] phet-steele opened #24 "Issues with values displaying next to points"
Error and coordinates overlap at smallest error, values has to be checked:

![error coor](https://cloud.githubusercontent.com/assets/5863899/7773839/1b426970-0064-11e5-8af7-49487dd5ff68.PNG)

Tested on Win 8.1
Troubleshooting information:
Name: Curve Fitting
URL: http://www.colorado.edu/physics/phet/dev/html/curve-fitting/1.0.0-dev.4/curve-fitting_en.html
Version: 1.0.0-dev.4 2015-05-18 16:31:51 U

[2015-05-22 15:46] phet-steele opened #25 "Difficult to drag points on a touch screen"
It's difficult, if not sometimes impossible, to drag a point with your finger on a touch screen. Touch areas are shown and error bars are dragged out of the way:

https://drive.google.com/file/d/0B3HJopSo_QqLNVRKdFM1QVdDaEE/view?usp=sharing

Tested on an iPad Air 2, iOS 8.3

[2015-05-22 15:46] phet-steele commented on #25
Troubleshooting information (do not edit):
Name: Curve Fitting
URL: http://www.colorado.edu/physics/phet/dev/html/curve-fitting/1.0.0-dev.4/curve-fitting_en.html?showPointerAreas
Version: 1.0.0-dev.4 2015-05-18 16:31:51 UTC
Features missing: fullscreen
Flags: pixelRatioScaling
User Agent: Mozilla/5.0 (iPad; CPU OS 8_3 like Mac OS X) AppleWebKit/600.1.4 (KHTML, like Gecko) Version/8.0 Mobile/12F69

[2015-05-22 15:59] phet-steele opened #26 "Error bars flicker when both ends dragged"
After grabbing both ends of the error bars and dragging (on a touchscreen), the bars flicker between large and small:

https://drive.google.com/file/d/0B3HJopSo_QqLcWlWTGQ4Z3lmV3M/view?usp=sharing

Tested on iPad Air 2, iOS 8.3

[2015-05-22 16:00] phet-steele commented on #26
Troubleshooting information (do not edit):
Name: Curve Fitting
URL: http://www.colorado.edu/physics/phet/dev/html/curve-fitting/1.0.0-dev.4/curve-fitting_en.html?showPointerAreas
Version: 1.0.0-dev.4 2015-05-18 16:31:51 UTC
Features missing: fullscreen
Flags: pixelRatioScaling
User Agent: Mozilla/5.0 (iPad; CPU OS 8_3 like Mac OS X) AppleWebKit/600.1.4 (KHTML, like Gecko) Version/8.0 Mobile/12F69

[2015-05-22 16:45] phet-steele commented on #15
Furthermore, using multitouch one can be sliding the bar to adjust "a" on cubic but then, while still dragging the slider, use another finger to switch to quadratic and still be in control of the "a" slider. This retains the cubic appearance of the graph even though quadratic is selected.

[2015-05-22 16:57] phet-steele opened #27 "Residuals terminate early"
The cause of this is very much #15, but this ticket gets more specific for multitouch devices.
1. Check "Curve" and "Residuals".
2. Drag on four or more points.
3. Choose "Cubic" then "Adjustable fit".
4. With one finger start dragging the "a" slider and with another finger go to "Quadratic". #15 happens.
5. Continue to drag your first finger around that's controlling the "a" slider, the residuals

[2015-05-22 16:58] phet-steele commented on #27
Troubleshooting information (do not edit):
Name: Curve Fitting
URL: http://www.colorado.edu/physics/phet/dev/html/curve-fitting/1.0.0-dev.4/curve-fitting_en.html?showPointerAreas
Version: 1.0.0-dev.4 2015-05-18 16:31:51 UTC
Features missing: fullscreen
Flags: pixelRatioScaling
User Agent: Mozilla/5.0 (iPad; CPU OS 8_3 like Mac OS X) AppleWebKit/600.1.4 (KHTML, like Gecko) Version/8.0 Mobile/12F69

[2015-05-22 17:22] phet-steele opened #28 "Chi-squared looks messy with long strings"
Chi-squared looks messy with long strings

![high chi](https://cloud.githubusercontent.com/assets/5863899/7775972/ba4aedac-0074-11e5-9acb-ce86ef552c24.PNG)

Tested on Win 8.1 browsers
Troubleshooting information:
Name: Curve Fitting
URL: http://www.colorado.edu/physics/phet/dev/html/curve-fitting/1.0.0-dev.4/curve-fitting_en.html
Version: 1.0.0-dev.4 2015-05-18 16:31:51 UTC
Features missing: touch

[2015-05-28 17:55] jonathanolson commented on #5
The raw images are not at all high enough resolution, they will need to be updated:
![screen shot 2015-05-28 at 11 50 16 am](https://cloud.githubusercontent.com/assets/480878/7866959/280c260c-0530-11e5-8b64-cda80f1ceed6.png)

[2015-05-31 12:01] andrey-zelenkov commented on #5
Image resolution improved. Reassign to @ariel-phet for verification.

[2015-05-31 18:55] andrey-zelenkov commented on #16
Fixed displaying data points outside the graph area. Reassign to @orejolaphet for verification.

[2015-06-01 06:05] ariel-phet commented on #5
Looks *MUCH* better, thanks!

[2015-06-01 06:05] #5 closed

[2015-06-01 16:34] amanda-phet commented on #15
See #13 for more details about this bug.

[2015-06-01 16:36] amanda-phet commented on #11
@ariel-phet Let's discuss this one.

[2015-06-01 16:38] amanda-phet commented on #22
@ariel-phet let's discuss this.

[2015-06-01 16:39] amanda-phet commented on #23
It seems like it only shows up after 2 points are added to the graph. The adjustable fit curve should always be visible, even if there are no points.

[2015-06-01 16:42] amanda-phet commented on #24
When the error reaches 0.5, it is above the coordinates enough so that both are legible. Once the error is lower than 0.5 it starts to overlap. @ariel-phet I think we should discuss a constraint to implement here. Maybe the text moves with the bar until it is be low 0.5, at which point it stops moving with the bar?

[2015-06-01 16:45] amanda-phet commented on #25
I am guessing that the current touch area for a point is only the circle itself. We decided that we would implement these touch areas after MLL is finished with the port.

[2015-06-01 16:48] amanda-phet commented on #27
Let's revisit this after #15 is addressed.

[2015-06-01 16:56] amanda-phet opened #29 "Mouseover/Tap behavior"
The design document included a section about a behavior for when a cursor is hovering over a point or error bar. This still needs to be implemented.
![screen shot 2015-06-01 at 10 54 59 am](https://cloud.githubusercontent.com/assets/7852916/7918200/d4fe2102-084c-11e5-8ebc-ff69c2270583.png)
![screen shot 2015-06-01 at 10 56 42 am](https://cloud.githubusercontent.com/assets/7852916/7918204/e304eefc-

[2015-06-01 18:48] amanda-phet commented on #11
This appears to be fixed in the latest version. Closing.

[2015-06-01 18:48] #11 closed

[2015-06-01 18:50] amanda-phet commented on #12
@phet-steele That is an interesting thought. Since this sim does not have an erase button and the flyback would only happen when a point is released, I am inclined to see how students interpret this behavior in interviews.

[2015-06-01 18:50] amanda-phet commented on #22
The data point should be layered on top of the curve equation so that this does not happen.

[2015-06-01 18:56] amanda-phet commented on #28
@phet-steele Can you let me know how to reproduce this? I can't get X^2 to be that big. Thanks!

[2015-06-01 19:29] phet-steele commented on #28
1. You're going to need at least five points.
2. I select the cubic curve, it seems to work pretty well for this.
3. Bring the error for each of the points to its minimum, then put them all relatively on the same x value. Try to make your y intercept as big as possible:

![chi squared rises](https://cloud.githubusercontent.com/assets/5863899/7921325/e895f004-0861-11e5-9712-ad91261b7192.PNG)

4. Sw

[2015-06-01 20:00] amanda-phet commented on #28
After talking with @phet-steele it seems like the issue is very much related to #13. If the adjustable fit sliders "remember" where they were when switching between best fit and adjustable fit, we won't get a X^2 that large. When on Best fit, the largest I've gotten X^2 is in the thousands, and the value just barely fits in the window. I will open a separate issue to address fitting large numbers,

[2015-06-01 20:05] amanda-phet commented on #13
I think this issue should be addressed by simply making sure the Adjustable fit values are remembered when switching between Best fit and Adjustable fit.

The issue of the curve types will be addressed with #15.

[2015-06-01 23:48] phet-steele commented on #28
Best I could do with best fit at the moment. 1 point at each corner with quadratic puts me in the ten thousands:

![chi squared sleeps in](https://cloud.githubusercontent.com/assets/5863899/7925777/4245e2fc-0886-11e5-8fa4-1c367229a90d.PNG)

[2015-06-02 00:03] phet-steele commented on #28
Well turns out there are situations where I can continuously add points to certain locations and the value will be increasing for every new point. It's a very slow process, but in theory and with enough time the value could get very long.

[2015-06-07 17:30] andrey-zelenkov commented on #21
Fixed resetting of adjustable values. Reassign to @orejolaphet for verification.

[2015-06-07 17:47] andrey-zelenkov commented on #22
Fixed equation overlapping by data points. Reassign to @bryo5363 for verification.

[2015-06-07 17:56] andrey-zelenkov commented on #23
Fixed default visibility of Adjustable Fit. Reassign tot @orejolaphet for verification.

[2015-06-07 18:33] andrey-zelenkov commented on #17
Fixed drop down display disappear when points in vertical line. Reassign to @orejolaphet for verification.

[2015-06-07 21:27] andrey-zelenkov commented on #15
Fixed preserving of curve type. Reassign to @bryo5363 for verification.

[2015-06-08 17:29] amanda-phet commented on #22
This looks good so I'll go ahead and close it.

[2015-06-08 17:29] #22 closed

[2015-06-08 17:30] amanda-phet commented on #23
This is working. Closing.

[2015-06-08 17:30] #23 closed

[2015-06-08 17:45] pixelzoom opened #30 "curve-fitting fails lint"
As of master 3b62c636e372f4159c33695731c81eb925975d94

[code]

[2015-06-12 22:10] andrey-zelenkov commented on #30
Fixed by 5ee008aa473d4261b9aa85303c6541d80c2ec7c2 commit.

[2015-06-14 11:53] andrey-zelenkov commented on #29
Added halo for error bars and point. Reassign to @amanda-phet for verification.

[2015-06-14 19:29] #30 closed

[2015-06-18 16:45] amanda-phet commented on #15
@bryo5363 can you please check this out?

[2015-06-18 16:46] amanda-phet commented on #21
@orejolaphet can you please check this out?

[2015-06-18 16:46] amanda-phet commented on #17
@orejolaphet can you please check this out?

[2015-06-18 16:46] amanda-phet commented on #16
@orejolaphet can you please check this out?

[2015-06-18 17:17] orejolaphet commented on #16
@amanda-phet I don't see a new dev version on http://www.colorado.edu/physics/phet/dev/html/curve-fitting/ ?

[2015-06-18 17:32] amanda-phet commented on #16
There isn't a dev version, but I pulled the latest version to phettest.

[2015-06-18 17:40] orejolaphet commented on #16
I'm currently testing from off campus, but I will be on campus later today. I will check it then.

[2015-06-19 14:36] orejolaphet commented on #16
This issue is no longer present in the latest version. Closing

[2015-06-19 14:36] #16 closed

[2015-06-19 14:37] orejolaphet commented on #21
This issue is no longer present in the latest version. Closing

[2015-06-19 14:37] #21 closed

[2015-06-19 14:38] orejolaphet commented on #17
This issue is no longer present in the latest version. Closing

[2015-06-19 14:38] #17 closed

[2015-06-19 17:35] amanda-phet commented on #29
Looks good except for the bars. If the mouse hovers over one of the error bars, *both* should highlight to indicate that both will move. (This is important for touch use).

[2015-06-21 09:39] andrey-zelenkov commented on #29
Both error bars are highlights on hover event. Reassign to @amanda-phet for verification.

[2015-06-21 11:55] andrey-zelenkov commented on #26
Fixed behavior: error bars flickers when both ends dragged. Reassign to @phet-steele for verification.

[2015-06-22 15:54] amanda-phet commented on #29
Looks good. Closing.

[2015-06-22 15:54] #29 closed

[2015-06-22 15:55] amanda-phet commented on #13
@phet-steele Can you confirm if this is still happening or not?

[2015-06-22 15:56] #12 closed

[2015-06-22 17:29] phet-steele commented on #15
I'm looking at this while checking #13. The original procedure in the first comment is fixed. Switching between curve types while Adjustable fit is selected will return the coefficient values to a default (I still think it would be great to save the fits so the user can return back to one they already made instead of having to remake it).
However, curve type is not preserved in a new case:
1. Clic

[2015-06-22 17:30] phet-steele commented on #13
Yes this still happens.

[2015-06-22 17:32] phet-steele commented on #26
I can verify the fixing! I simply can't grab both ends simultaneously any more.

[2015-06-22 17:37] amanda-phet commented on #13
Thanks. @MDmitrieva can you please address this issue?

The adjustable fit values should be "remembered" when you switch between adjustable fit and best fit.

[2015-06-22 17:38] #26 closed

[2015-07-05 18:01] andrey-zelenkov commented on #15
Fixed curve fitting type preserving. Reassign to @phet-steele for verification.

[2015-07-05 18:06] andrey-zelenkov commented on #13
Fixed via https://github.com/phetsims/curve-fitting/commit/aa7bcc613c53a10153fcfddd6b0beaf859a1353b commit. Reassign to @phet-steele for verification.

[2015-08-04 16:48] jonathanolson opened #31 "Code Review for Curve Fitting"
PhET code-review checklist
=============

**Build and Run Checks**

- [x] Does the sim pass jshint?
- [x] Does the sim build without errors?
- [x] Does the sim start up? (requirejs and built versions)
- [x] Does the sim experience any assertion failures? (run with query parameter 'ea')
- [x] Does the sim pass a scenery fuzzer test? (run with query parameter 'fuzzMouse')
- [x] Are there any strings

[2015-08-04 16:52] jonathanolson opened #32 "create curve-fitting-screenshot.png"

[2015-08-04 16:56] jonathanolson opened #33 "False dependency on vegas/vibe?"
Both are noted in the config and package.json. Is there an actual dependency here?

Review: https://github.com/phetsims/curve-fitting/issues/31

[2015-08-04 16:57] jonathanolson commented on #32
Review: https://github.com/phetsims/curve-fitting/issues/31

[2015-08-04 16:58] jonathanolson opened #34 "Fill in credits"
Review: https://github.com/phetsims/curve-fitting/issues/31

[2015-08-04 17:17] jonathanolson opened #35 "Bad layout on stringTest=double"
![screen shot 2015-08-04 at 11 16 16 am](https://cloud.githubusercontent.com/assets/480878/9067390/599b47f8-3a9a-11e5-8585-d1de5c795639.png)

Review: https://github.com/phetsims/curve-fitting/issues/31

[2015-08-10 17:42] phet-steele commented on #15
Fixed. Making a new issue about the sliders returning to default and one about the multitouch problem where you can move the "a" slider while viewing a quadratic curve.

[2015-08-10 17:42] #15 closed

[2015-08-10 17:43] phet-steele commented on #13
:+1:

[2015-08-10 17:43] #13 closed

[2015-08-10 18:02] phet-steele opened #36 "Some adjustable fit values return to default when switching between curve types"
This is present in the Flash version. The sliders for "a" and "b" on the Cubic curve and the slider for just "b" on the Quadratic curve return to a default value after sliding them and switching between curve types:

![curfi](https://cloud.githubusercontent.com/assets/5863899/9179091/6aca40a8-3f57-11e5-8c7c-b8aa3338818a.gif)

 It would be nice if these values that were set by a user remained there

[2015-08-10 18:21] phet-steele opened #37 "Continuously manipulating sliders causes contradictory graphs"
On a touch screen:
1. Put some points on the graph and check "Curve".
2. Select the Cubic curve type (also works with Quadratic but is not as dramatic).
3. Select Adjustable fit.
4. Place Finger A on the "a" slider.
5. Without letting up on Finger A, use a different Finger B to switch the curve type to linear or quadratic.
6. Wiggle Finger A and you'll notice you still control the "a" slider even

[2015-08-13 07:18] jonathanolson opened #38 "Instance references should not be capitalized"
E.g. ```CurveFittingModel``` should refer to the constructor of the type, and ```curveFittingModel``` should refer to an instance of the CurveFittingModel.

It's very confusing to have a capitalized name refer to an object instance rather than a type.

Review: https://github.com/phetsims/curve-fitting/issues/31

[2015-08-13 07:19] jonathanolson opened #39 "What is the point of the NaN values for points?"
It seems like an anti-pattern, and I wasn't easily able to determine what they were being used for.

Review: https://github.com/phetsims/curve-fitting/issues/31

[2015-08-13 07:20] jonathanolson opened #40 "isFinite returns false for NaN"
So no additional ```isNaN( x ) || isFinite( x )``` checks are needed, ```isFinite( x )``` is sufficient.

Review: https://github.com/phetsims/curve-fitting/issues/31

[2015-08-13 07:20] jonathanolson opened #41 "Check for typos in documentation/code"
Some examples are "fir" and "adn".

Review: https://github.com/phetsims/curve-fitting/issues/31

[2015-08-13 07:22] jonathanolson opened #42 "Parenthesis code style doesn't match"
There should be spaces inside parenthesis as a general rule, so instead of:
[code]
it should be:
[code]

Review: https://github.com/phetsims/curve-fitting/issues/31

[2015-08-13 07:23] jonathanolson opened #43 "Recommend Curve getValueAt( x ) method"
Lots of model-specific code for determining a curve's value at a certain location is in less relevant places (e.g. GraphAreaNode).

Review: https://github.com/phetsims/curve-fitting/issues/31

[2015-08-13 07:25] jonathanolson opened #44 "Documentation of types in methods"
It would be helpful to have type documentation for types in many method calls (similar to constructors). For example, I'm left wondering when reviewing "Is 'point' a Vector2 or Point"?

Review: https://github.com/phetsims/curve-fitting/issues/31

[2015-08-13 07:26] jonathanolson opened #45 "Type documentation for ObservableArray"
Documentation for parameters/objects of type ObservableArray should include the type of the element (like {ObservableArray.<Point>}).

Review: https://github.com/phetsims/curve-fitting/issues/31

[2015-08-13 07:28] jonathanolson opened #46 "Model-view transforms"
It's typical to have a ModelViewTransform2 between model-view space, instead of the non-standard CurveFittingConstants.PIXELS_IN_TICK, as it helps not just with scale, but positioning as well.

I'd recommend following the usual model-view transform usage for PhET simulations.

Review: https://github.com/phetsims/curve-fitting/issues/31

[2015-08-13 07:29] jonathanolson opened #47 "Behavior of adjustable fit selection"
Why does toggling "Curve" visibility reset the adjustable fit, but switching between best/adjustable doesn't?

Review: https://github.com/phetsims/curve-fitting/issues/31

[2015-08-13 07:32] jonathanolson opened #48 "Point position properties"
There is point.position (I've inferred this is the global screen coordinate of the point where it was last located), and point.x/point.y (the actual model location). Is that correct (and if so, can it please be documented)?

Additionally, it seems suspicious to be storing the last global coordinate of a view's point in the model. I haven't fully worked out the logic of how it doesn't break when th

[2015-08-13 07:47] jonathanolson commented on #48
Also why does Point.moveTo only modify position?

[2015-08-13 07:54] jonathanolson opened #49 "FitMaker"
What type of fit does it do, minimizing least squares via linear regression? (This should be documented).

Besides creation of the specific type of augmented matrix used for the regression, it seems like it's duplicating code from dot's Matrix (ported from JAMA). Is there a benefit to having this re-implemented? (Is it doing anything besides just solving the augmented matrix?)

Also it may not be

[2015-08-13 07:56] jonathanolson opened #50 "Naming in CurveFittingModel"
Some recommended name changes that seem more grammatical:

isResidualsVisible => areResidualsVisible

isValuesVisible => areValuesVisible

Review: https://github.com/phetsims/curve-fitting/issues/31

[2015-08-13 07:57] jonathanolson opened #51 "CurveFittingModel's maxOrderOfFit"
This seems like a global that should be accessed as CurveFittingModel.maxOrderOfFit, since it never changes, and isn't specific to a specific model (as it has to be passed around places in the code).

Can the instance property be changed to a global?

Review: https://github.com/phetsims/curve-fitting/issues/31

[2015-08-13 07:59] jonathanolson opened #52 "Model-view separation"
It seems like a lot of view state (visibility of curves/residuals/values and whether panels are expanded, and global screen position of points) is stored in the model.

This type of information should generally be stored in the view (e.g. CurveFittingModel/PointNode), since it doesn't describe the underlying model.

Is there a reason this information is in the model currently?

Review: https://git

[2015-08-13 08:00] jonathanolson opened #53 "Inlining of CurveFittingModel.getPoint?"
It has one usage, and is very simple. Any arguments against inlining its one usage?

Review: https://github.com/phetsims/curve-fitting/issues/31

[2015-08-13 08:01] jonathanolson commented on #52
Also chiFill on the Curve (a color for the view) seems like part of the view, not the model.

[2015-08-13 08:02] jonathanolson opened #54 "Naming of Curve properties"
_orderOfFit and _fitType are both properties, so it seems clearer if they had the 'Property' suffix (as is very typical for properties).

Review: https://github.com/phetsims/curve-fitting/issues/31

[2015-08-13 08:03] jonathanolson opened #55 "Curve.points should have documentation"
What is the element type? Does order matter?

Review: https://github.com/phetsims/curve-fitting/issues/31

[2015-08-13 08:03] jonathanolson opened #56 "Curve _updateFitBinded"
_updateFitBinded should be renamed _updateFitBound (grammar).

Review: https://github.com/phetsims/curve-fitting/issues/31

[2015-08-13 08:04] jonathanolson opened #57 "Curve _storage"
It's unclear to me (without documentation) what _storage is for, and how exactly best/adjustable values are initialized/set/moved to storage/moved from storage, etc.

Can this be clearly documented?

Review: https://github.com/phetsims/curve-fitting/issues/31

[2015-08-13 08:05] jonathanolson opened #58 "Curve updateCurveTrigger"
Instead of using a Property as a way of sending events, just use curve.trigger/curve.on/curve.off (Curve is a PropertySet, which inherits Events, which provides lots of great ways to listen to and trigger events).

Review: https://github.com/phetsims/curve-fitting/issues/31

[2015-08-13 08:08] jonathanolson opened #59 "Curve top-level functions"
Usually all of the content that is between Curve's constructor and its inherit() call would exist above the constructor (so they are defined above the constructor where they might be used). It looks like 'var f = function(...){...}' is being used instead of 'function name(...){...}" to bypass a linting failure since the function is declared below the usage (the var causes it to be hoisted above).

[2015-08-13 08:10] jonathanolson opened #60 "Curve fit listeners"
There is a lot of code dedicated to adding/removing updateFitBinded based on whether the curve is best/adjustable.

It seems simpler to always have a listener attached, where the listener checks the fitType (and only runs things if it is adjustable). Thoughts?

Review: https://github.com/phetsims/curve-fitting/issues/31

[2015-08-13 08:12] jonathanolson opened #61 "Documentation for Curve"
lowerLimitArray, upperLimitArr (why Array/Arr?) and getBarometerFillFromChiValue in particular could use documentation to help clarify their purpose, and how they work.

Review: https://github.com/phetsims/curve-fitting/issues/31

[2015-08-13 08:13] jonathanolson opened #62 "Some Curve code simplifications"
[code]
is equivalent to:
[code]

Review: https://github.com/phetsims/curve-fitting/issues/31

[2015-08-13 08:15] jonathanolson opened #63 "DeviationsNode name"
Typically if it's a Panel used as a control panel, we'd call it "DeviationsPanel". "DeviationsNode"'s name let me to think it was displaying residuals.

Review: https://github.com/phetsims/curve-fitting/issues/31

[2015-08-13 08:17] jonathanolson opened #64 "BucketNode"
We have standard code for displaying buckets in scenery-phet, so that sims are consistent. Is there any reason this code for displaying the bucket shouldn't be used? (Just the bucket, not what is in it).

Review: https://github.com/phetsims/curve-fitting/issues/31

[2015-08-13 08:18] jonathanolson opened #65 "GraphAreaNode simplifications"
For a Bounds2, ```bounds.maxX - bounds.minX``` is equivalent to ```bounds.width```, which could simplify some lines in this file.

Review: https://github.com/phetsims/curve-fitting/issues/31

[2015-08-13 08:19] jonathanolson opened #66 "GraphAreaNode documentation"
Top-level documentation notes that it contains points. It doesn't seem to include points.

Can the documentation be updated/clarified?

Review: https://github.com/phetsims/curve-fitting/issues/31

[2015-08-13 08:20] jonathanolson opened #67 "GraphAreaNode isContainsPoint"
For improved grammar and clarity, could I suggest renaming it to isPointInsideGraph()?

Review: https://github.com/phetsims/curve-fitting/issues/31

[2015-08-13 08:21] jonathanolson opened #68 "PointNode's pointModel documentation"
It notes:
[code]

Should this be ```{Point}``` instead?

Review: https://github.com/phetsims/curve-fitting/issues/31

[2015-08-13 08:23] jonathanolson opened #69 "PointNode halos and bars"
Constructing rectangles in PointNode would be a bit clearer by first constructing Bounds2 instances, and then using the various dilation functions to get larger (expanded) copies of the bounds (then Rectangle.bounds( bounds) could be used).

Review: https://github.com/phetsims/curve-fitting/issues/31

[2015-08-13 08:26] jonathanolson opened #70 "CurveFittingView duplicated reference"
Could the duplicate ```new Bounds2( 0, 0, 768, 504 )``` be factored out to reference SIM_BOUNDS?

Review: https://github.com/phetsims/curve-fitting/issues/31

[2015-08-13 08:28] jonathanolson opened #71 "Model and implementation-notes documentation"
Noted in the checklist for https://github.com/phetsims/curve-fitting/issues/31 is the lack of doc/model.md and doc/implementation-notes.md. Could these be filled out with top-level model/implementation note documentation?

Review: https://github.com/phetsims/curve-fitting/issues/31

[2015-08-13 08:31] jonathanolson opened #72 "Adjustable fit sliders have overlapping touch areas"
Can the touch areas be slightly less wide so that they are flush?

Review: https://github.com/phetsims/curve-fitting/issues/31

[2015-08-13 08:34] jonathanolson commented on #31
Initial review complete. @ariel-phet, to whom should I assign review issues that need to be handled?

[2015-08-13 13:29] ariel-phet commented on #31
@jonathanolson please assign to @andrey-zelenkov

[2015-08-17 16:17] jonathanolson commented on #43
This should be fairly minor, I'll take care of it after other review items.

[2015-08-17 16:22] jonathanolson commented on #49
I'll handle this.

[2015-08-30 20:29] andrey-zelenkov commented on #40
Fixed via 6a0430bdc0fcc2e38021661bf4389c04e8d7bacb. Reassign to @jonathanolson for verification.

[2015-09-13 19:26] andrey-zelenkov commented on #67
Renamed method isContainsPoint in isPointInsideGraph. Reassign to @jonathanolson for verification.

[2015-09-13 19:28] andrey-zelenkov commented on #70
Removed duplicated reference. Reassign to @jonathanolson for verification.

[2015-09-13 19:29] andrey-zelenkov commented on #65
Made some code simplifications. Reassign to @jonathanolson for verification.

[2015-09-13 19:30] andrey-zelenkov commented on #63
DeviationsNode renamed into DeviationsPanel. Reassign to @jonathanolson for verification.

[2015-09-13 19:31] andrey-zelenkov commented on #62
Made some code simplifications in Curve.js. Reassign to @jonathanolson for verification.

[2015-09-13 19:32] andrey-zelenkov commented on #56
Rename _updateFitBinded into _updateFitBound. Reassign to @jonathanolson for verification.

[2015-09-13 19:33] andrey-zelenkov commented on #54
Added Property suffix to _orderOfFit and _fitType variables. Reassign to @jonathanolson for verification.

[2015-09-13 19:34] andrey-zelenkov commented on #53
Made inlining of CurveFittingModel.getPoint function. Reassign to @jonathanolson for verification.

[2015-09-13 19:35] andrey-zelenkov commented on #50
Fixed naming in CurveFittingModel. Reassign to @jonathanolson for verification.

[2015-09-13 19:36] andrey-zelenkov commented on #42
Fixed parenthesis code style. Reassign to @jonathanolson for verification.

[2015-09-13 19:38] andrey-zelenkov commented on #41
Fixed typos in documentation. Reassign to @jonathanolson for verification.

[2015-09-13 19:39] andrey-zelenkov commented on #33
Removed unused vegas and vibe dependencies. Reassign to @jonathanolson for verification.

[2015-09-13 19:40] andrey-zelenkov commented on #38
Instance references uncapitalized. Reassign to @jonathanolson for verification.

[2015-09-14 00:40] andrey-zelenkov commented on #64
Replaced painting bucket node by standard scenery-phet component. Reassign to @jonathanolson for verification.

[2015-09-14 16:24] jonathanolson commented on #67
Looks good, thanks!

[2015-09-14 16:24] #67 closed

[2015-09-14 16:26] jonathanolson commented on #70
Looks good, thanks!

[2015-09-14 16:26] #70 closed

[2015-09-14 16:26] jonathanolson commented on #63
Looks good, thanks!

[2015-09-14 16:26] #63 closed

[2015-09-14 16:27] jonathanolson commented on #65
Looks good, thanks!

[2015-09-14 16:27] #65 closed

[2015-09-14 16:28] jonathanolson commented on #50
Looks good, thanks!

[2015-09-14 16:28] #50 closed

[2015-09-14 21:48] andrey-zelenkov commented on #35
Fixed layout with long strings. Reassign to @jonathanolson for verification/

[2015-09-14 21:54] pixelzoom opened #73 "curve-fitting fails lint"
[code]

[2015-09-14 21:57] andrey-zelenkov commented on #51
MaxOrderOfFit moved to constants. Reassign to @jonathanolson for verification.

[2015-09-14 22:09] andrey-zelenkov commented on #73
Removed unused imports. Reassign to @pixelzoom for verification.

[2015-09-14 22:11] pixelzoom commented on #73
:+1: Closing.

[2015-09-14 22:11] #73 closed

[2015-09-14 22:20] andrey-zelenkov commented on #47
Remembering while switching between best/adjustable was discussed earlier in https://github.com/phetsims/curve-fitting/issues/13#issuecomment-107691750. Resetting while toggling "Curve" is came from original sim (when we select "no fit" in original sim it's also reset adjustable fit).

[2015-09-15 00:14] andrey-zelenkov commented on #58
Replaced updateCurveTrigger property by default trigger. Reassign to @jonathanolson for verification.

[2015-09-15 03:16] jonathanolson commented on #64
Bucket use looks good, but isn't the clipping not needed? It should be possible to put the pointsNode under the BucketFront, and in front of the BucketHole, so that it's not needed.

[2015-09-15 03:17] jonathanolson commented on #62
Looks good, thanks!

[2015-09-15 03:17] #62 closed

[2015-09-15 03:18] jonathanolson commented on #58
Looks good, thanks!

[2015-09-15 03:18] #58 closed

[2015-09-15 03:18] jonathanolson commented on #56
Looks good, thanks!

[2015-09-15 03:18] #56 closed

[2015-09-15 03:19] jonathanolson commented on #54
Looks good, thanks!

[2015-09-15 03:19] #54 closed

[2015-09-15 03:19] jonathanolson commented on #53
Looks good, thanks!

[2015-09-15 03:19] #53 closed

[2015-09-15 03:19] jonathanolson commented on #51
Looks good, thanks!

[2015-09-15 03:19] #51 closed

[2015-09-15 03:25] jonathanolson commented on #35
Looks great, thanks!

[2015-09-15 03:25] #35 closed

[2015-09-15 04:07] jonathanolson commented on #47
Thanks! Removing review label, and assigning to @amanda-phet to decide if we also want to safe the adjustable fit when we toggle the "Curve" visibility.

[2015-09-15 04:08] jonathanolson commented on #40
Looks good, thanks!

[2015-09-15 04:08] #40 closed

[2015-09-15 04:08] jonathanolson commented on #41
Looks good, thanks!

[2015-09-15 04:08] #41 closed

[2015-09-15 04:11] jonathanolson commented on #42
Looks good, thanks!

[2015-09-15 04:11] #42 closed

[2015-09-15 04:12] jonathanolson commented on #38
Looks good, thanks!

[2015-09-15 04:12] #38 closed

[2015-09-15 04:12] jonathanolson commented on #33
Looks good, thanks!

[2015-09-15 04:12] #33 closed

[2015-09-15 10:59] andrey-zelenkov commented on #64
Good point, thank you! Removed clip shape for points. Reassign to @jonathanolson for verifcation.

[2015-09-15 15:49] jonathanolson commented on #64
Looks good, thanks!

[2015-09-15 15:49] #64 closed

[2015-09-15 21:01] andrey-zelenkov commented on #46
CurveFittingConstants.PIXELS_IN_TICK was removed in a33487fcfbf809cfd8969d2526f0489d05331982 and ModelViewTransform2 was implemented in 43492380ef66131bfa1369ad17eeb6e5e2e893d1. Reassign to @jonathanolson for verification.

[2015-09-15 21:17] andrey-zelenkov commented on #59
Private functions in Curve model moved in front of the constructor, also changed declaration. Reassign to @jonathanolson for verification.

[2015-09-16 00:11] andrey-zelenkov commented on #60
No, it was made for optimization (to prevent extra updateFit calls when fit type is adjustable). There are necessary "if" condition is already present in updateFit function. Removed linking/unlinking of curve parameters while mode switching. Reassign to @jonathanolson for verification.

[2015-09-16 00:24] andrey-zelenkov commented on #39
It was necessary to determine situation when the point is outside the graph (coordinates isn't important in this case, so it's set to NaN). If NaN should be eliminated then we can calculate coordinates for every point position and add some extra checks, but imho adding description to clarify this moment can be enough.

[2015-09-16 00:36] andrey-zelenkov commented on #52
Visibility of curves/residuals/values and panels expanding often necessary for optimizations (for example if deviation panel is collapsed then we can disable calculating chi-values and colors). It was done based on the experience of creating the previous simulations. chiFill can be moved to view without harm.

[2015-09-27 21:49] andrey-zelenkov commented on #52
chiFill calculations moved to view. Reassign to @jonathanolson for verification.

[2015-09-27 23:49] andrey-zelenkov commented on #72
I'm using SUN/HSlider to draw slider and I can't find any option to change touch areas of default thumb. Also I can't find default ThumbNode module to pass it using thumbNode option. Should all code related to ThumbNode be copied form HSlider to adjustable sliders class? Or there other way to change size of touch areas?

[2015-09-28 00:15] andrey-zelenkov commented on #69
Made refactoring for PointNode halos and bars. Reassign to @jonathanolson for verification.

[2015-09-29 20:44] andrey-zelenkov commented on #45
Added type documentation for ObservableArray. Reassign to @jonathanolson for verification.

[2015-09-29 20:55] andrey-zelenkov commented on #55
Added documentation for Curve.points. Reassign to @jonathanolson for verification.

[2015-09-29 20:59] andrey-zelenkov commented on #68
Fixed pointModel type description. Reassign to @jonathanolson for verification.

[2015-09-29 21:34] andrey-zelenkov commented on #61
Function and arrays were copied into BarometerX2Node (bd9f1cebaa06d234f6e57f8e0d67e8cca3dbae71) and renamed. Added documentation for getChiFillFromChiValue function and arrays. Reassign to @jonathanolson for verification.

[2015-09-29 21:38] andrey-zelenkov commented on #66
Fixed GraphAreaNode documentation. Reassign to @jonathanolson for verification.

[2015-09-29 22:38] andrey-zelenkov commented on #57
Added _storage documentation in Curve. Reassign to @jonathanolson for verification.

[2015-10-03 11:40] andrey-zelenkov commented on #48
Removed point positionProperty from model. Also removed Point.moveTo function. Reassign to @jonathanolson for verification.

[2015-10-03 11:43] andrey-zelenkov commented on #39
NaN values were removed during fixing #48 (9bbea0b45fd6f4cc86fee05a861ce905b4fb135a). It was replaced by 'isInsideGraph' flag.

[2015-10-04 12:16] andrey-zelenkov commented on #71
Added model.md and implementation-notes.md. Reassign to @jonathanolson for verification.

[2015-10-04 18:09] andrey-zelenkov commented on #44
Added documentation of types in methods. Reassign to @jonathanolson for verification.

[2015-10-08 07:45] jonathanolson commented on #72
Removing 'review' label, I'll take care of this one. Will ask in developer meeting about standard ways of handling touch areas for this.

[2015-10-08 17:52] jonathanolson commented on #39
Looks good, thanks.

[2015-10-08 17:52] #39 closed

[2015-10-08 17:52] jonathanolson commented on #66
Looks good, thanks.

[2015-10-08 17:52] #66 closed

[2015-10-08 17:53] jonathanolson commented on #61
Thanks.

[2015-10-08 17:53] #61 closed

[2015-10-08 17:53] jonathanolson commented on #71
Thanks.

[2015-10-08 17:53] #71 closed

[2015-10-08 17:54] jonathanolson commented on #57
Thanks!

[2015-10-08 17:54] #57 closed

[2015-10-08 17:54] jonathanolson commented on #44
Looks good, thanks!

[2015-10-08 17:54] #44 closed

[2015-10-08 17:55] jonathanolson commented on #60
Removing review tag, will look into it.

[2015-10-08 17:55] jonathanolson commented on #69
Looks good, thanks!

[2015-10-08 17:55] #69 closed

[2015-10-08 17:56] jonathanolson commented on #68
Looks good, thanks!

[2015-10-08 17:56] #68 closed

[2015-10-08 17:56] jonathanolson commented on #59
Looks good, thanks!

[2015-10-08 17:56] #59 closed

[2015-10-08 17:57] jonathanolson commented on #52
Will handle myself, MVT shouldn't be identity.

[2015-10-08 17:58] jonathanolson commented on #48
Thanks!

[2015-10-08 17:58] #48 closed

[2015-10-08 18:03] jonathanolson commented on #45
Thanks!

I'll look into some renaming, like with pointsProperty:
[code]

[2015-10-08 18:07] jonathanolson commented on #31
Thanks! I'll take care of the remaining issues and verify the checklist. Assigning to myself, and removing the review tag.

[2015-10-08 19:00] jonathanolson commented on #72
Plan to create default thumb, change touch areas, and pass it through as a custom thumb.

[2015-10-08 19:05] jonathanolson commented on #72
Or... just provide public access to the thumb. Probably that.

[2015-10-08 19:17] jonathanolson commented on #72
Decided on dot.Insets, and integration with bounds modifiers. Add thumbMouseAreaInsets and thumbTouchAreaInsets as options, that will only modify the default behavior.

[2016-02-16 16:48] jonathanolson opened #74 "Can we avoid using translatable strings in HTMLText?"
See https://github.com/phetsims/special-ops/issues/18. If using them is a requirement, then let me know (I'll need to look into sanitization of translated strings).

[2016-06-29 18:24] Denz1994 opened #75 "Point Creation in top left corner"
Clicking in the top left most corner of the sim generates a new point that can be placed on the graph. This occurs right around the expand button for the Deviations box on the left side of the sim. There is no indication that this should happen in the simulation and is assumed to be a bug.

![image](https://cloud.githubusercontent.com/assets/13894380/16463631/9be45e56-3e04-11e6-862e-b364e5b4a616.p

[2016-06-29 18:31] Denz1994 opened #76 "Touch Areas for Sliders Overlap"
Slider pointer areas overlap. This may interfere with touch device functionality.

![image](https://cloud.githubusercontent.com/assets/13894380/16463910/ed13c1c6-3e05-11e6-976d-73ed36127620.png)

[2016-06-29 20:25] Denz1994 commented on #76
**TL:DR
Essentially, having an option and default value within HSlider to adjust the touch areas without adjusting the thumb node would be a solution to this issue. Also this will give other sims the flexibility in doing so, if needed.**

One approach includes adjusting the touch areas of the thumb node. However, we don't have access to the thumb node touch area because it is localized within HSli

[2016-06-30 15:08] memo330179 commented on #37
assigning to @veillette for review

[2016-06-30 15:37] veillette commented on #52
The model view transform is currently being passed around but is set as Identity, and not being used. We will look into making the bounds the graph from (-10 to 10 in x and y), the model bounds and used the model view transform to get the positions in the view.

[2016-06-30 15:39] veillette commented on #49
We will look into using DOT matrices instead.

[2016-06-30 15:41] veillette commented on #46
Although there is currently a modelViewTransform, it is set to identity throughout the sim. We will work into it.

[2016-06-30 15:43] veillette commented on #76
I found that there is a Sun Issue, see https://github.com/phetsims/sun/issues/202

[2016-06-30 18:37] pixelzoom commented on #76
We need to add options related to touchArea and mouseArea to HSlider. See comment https://github.com/phetsims/sun/issues/202#issuecomment-229749872.

[2016-06-30 20:22] memo330179 commented on #36
Assigning to @veillette for review

[2016-07-01 14:01] memo330179 commented on #28
I have removed the decimals from the large numbers as suggested by @veillette I've also added a max-width to scale the text down for truly large numbers.

![curve fitting screenshot](https://cloud.githubusercontent.com/assets/11654721/16523707/c37b8a10-3f72-11e6-961b-aac578fedd9d.png)

[2016-07-01 14:02] memo330179 commented on #28
Assigning to @veillette for review

[2016-07-04 19:37] veillette opened #77 "Calculation of r^2"
The r^2 value is not a very well defined quantity for non-linear, weighted and non-optimal fits.

Currently it is given by

[code]

Notice the last part of the algorithm, where any values of r^2 that are negative are set to zero.
In addition, it does not take into account the weight of a point.

[2016-07-04 19:45] veillette commented on #77
Assigning to myself.
some references

- http://www.graphpad.com/support/faqid/1355/
- https://github.com/scikit-learn/scikit-learn/blob/51a765a/sklearn/metrics/regression.py#L370
- http://pubs.usgs.gov/tm/tm4a8/pdf/TM4-A8.pdf

[2016-07-04 19:58] veillette commented on #77
![image](https://cloud.githubusercontent.com/assets/7633344/16569080/1b1c9e00-4200-11e6-975b-1f09c72c7996.png)

![image](https://cloud.githubusercontent.com/assets/7633344/16569073/0e66aa98-4200-11e6-94cc-dc46f18eabee.png)

[2016-07-05 00:02] veillette commented on #75
This should addressed the problem. Closing.

[2016-07-05 00:02] #75 closed

[2016-07-05 16:34] phet-steele opened #78 "Automated Testing Sim Error (7/5/2016 9:58 AM)"
[code]

[2016-07-06 15:05] memo330179 commented on #25
Assigning to @veillette for review

[2016-07-06 15:15] veillette commented on #74
Currently, there is only one usage of HTMLText in curveFitting. It Makes uses of one string (a pattern).

[code]

[code]
in DeviationPanel.js
[code]

[2016-07-07 15:41] Denz1994 commented on #72
Adjusted slider touch area parameters by changing the HSlider options. Made possible by https://github.com/phetsims/sun/commit/c5dbf7cdfa530d559f8d1ded3d9714d84a5c3570

[2016-07-07 17:00] veillette commented on #74
Although we used SubSupText extensively.
There is a issue tracking it, here.  https://github.com/phetsims/scenery/issues/528

[2016-07-08 14:52] veillette opened #79 "Events are deprecated. Use Emitted instead."
While reviewing Plinko-Probability, @jessegreenberg  mentionned

Curve-fitting is using Events

[2016-07-08 18:43] veillette opened #80 "fix alignment of equation terms above sliders"
The process of making the strings translatable broke the alignment of the equation with the slider

[2016-07-08 18:44] veillette commented on #78
Thanks. This should be fixed. Closing

[2016-07-08 18:44] #78 closed

[2016-07-08 20:06] veillette commented on #43
curve.getYValueAt( x ) was added. It is used in GraphAreaNode.

[2016-07-13 02:28] veillette commented on #46
Work is done here. Closing

[2016-07-13 02:28] #46 closed

[2016-07-13 02:29] veillette commented on #43
Work is done here. Closing

[2016-07-13 02:29] #43 closed

[2016-07-13 02:31] veillette commented on #25
The points are now much easier to drag.

[2016-07-13 02:31] veillette commented on #25
Closing

[2016-07-13 02:31] #25 closed

[2016-07-13 02:34] veillette commented on #27
Since we rewrote the graphareanode, this issue doesn't apply anymore. Closing

[2016-07-13 02:34] #27 closed

[2016-07-13 02:35] veillette commented on #79
Events were replaced by emitters. Forgot to tag the commit though. Closing

[2016-07-13 02:35] #79 closed

[2016-07-13 02:38] veillette commented on #45
The documentation was added. In addition the observable array was renamed points, throughout the simulation.

[2016-07-13 02:38] veillette commented on #45
Closing

[2016-07-13 02:38] #45 closed

[2016-07-13 02:43] veillette commented on #52
The position of points is now done in the model, and the modelviewtransform is used throughout the simulation.

[2016-07-13 02:45] veillette commented on #52
All of the visibility flags are in the model, and indeed there is a performance benefit associated with many of them. At that point it seems reasonable to have all of them in the model.

[2016-07-13 02:47] veillette commented on #52
I think it is a reasonable compromise. Closing

[2016-07-13 02:48] #52 closed

[2016-07-21 17:47] veillette commented on #77
There was no r^2 barometer in the original flash simulation

[2016-07-21 18:02] amanda-phet commented on #77
r^2 was calculated in the original sim, we just changed the representation to be a "barometer".
![screen shot 2016-07-21 at 12 00 43 pm](https://cloud.githubusercontent.com/assets/7852916/17033313/ce774b52-4f3a-11e6-9126-c260b34ec172.png)

r^2 should always be positive, so I'm not sure why there is a line of code for when it is negative.

[2016-07-21 18:20] veillette commented on #77
Thanks @amanda-phet,
I undertand that @samreid has a way to access the flash code of our previous simulations.
Can you copy paste the code for curve-fitting below.

[2016-07-21 18:25] ariel-phet commented on #77
@samreid since you did this for projectile motion, could you do the same for @veillette here and paste the relevant code in the issue?

[2016-07-22 01:47] samreid commented on #77
It looks like those actionscript files are already externalized (top level files, not embedded in the fla), and you can see them here: https://phet.unfuddle.com/a#/projects/9404/repositories/23262/browse?path=%2Ftrunk%2Fsimulations-flash%2Fsimulations%2Fcurve-fitting%2Fsrc

Please report back if you find what you need there.

[2016-07-22 19:36] veillette commented on #77
Thanks @samreid

[2016-07-22 19:37] veillette commented on #77
Here is the relevant portion of code
[code]

[2016-07-23 15:58] veillette commented on #77
It turns out to be the same approach as used in the flash simulation.
The flash simulation includes a comment about ignoring the error bars for the r square calculation. However the r square result was not as public facing in the flash simulation as it is in the html5 version.

[2016-07-25 18:23] veillette commented on #77
After looking into, I found out that
- R-squared is defined as the explained variation / Total variation
- In the case of best-fit line with equal weights, our current approach is correct. It will always yield a r^2 value that lies between 0 and 1.
- For the best fit curve for quadratic and cubic term (with equal weights),  statisticians uses an adjusted value, which takes into account the fact th

[2016-07-25 19:23] veillette commented on #77
A good course of action is to generalize the r square calculation to take into account the weight (Delta value)  associated with each point.

For the user controlled fit, it is still possible to get a negative value for r square. Just as we do now, replace any negative value to zero.

I note in passing that weighted r square calculation will be used for all setting. However it reduces to our previ

[2016-07-26 16:40] phet-steele opened #81 "Automated Testing Sim Error (7/26/2016 10:00 AM)"
[code]

[2016-07-26 17:20] veillette commented on #81
My initial guess is that one of the rectangles associated with the barometers, most likely r square, has a height of zero

[2016-07-26 20:44] pixelzoom commented on #31
This sim was recently assigned to me to complete. @jonathanolson I'll take it from here.

Looks like all code review issues are in separate GitHub issues, so I'm going to close this issue.  I'll do memory leak testing, etc. a little later.

[2016-07-26 20:44] #31 closed

[2016-07-26 20:49] pixelzoom commented on #81
@veillette I believe that this passed last week's automated testing. The failure is occurring in Curve, and I see that you made this change 23 hours ago: 8dcc35b7efecded5cc61bf3a044927eec409e6a0.  Can you take a look?

[2016-07-26 20:59] pixelzoom commented on #74
SubSupText is a little different than HTMLText. We're not trying to use the browser to render HTML, we're simply using HTML as the markup language. SubSupText parses the string, and creates (and lays out) separate scenery.Text nodes for the subscript, superscript and "base" parts of the string.

The issue in phetsims/scenery#528 is a speed bump that will presumably be addressed when @jonathanolson

[2016-07-26 21:05] pixelzoom commented on #74
Looks trivial to make this HTMLText unnecessary.  Simply use Unicode for the mathematical 𝑓 (`'\u1D45e'`), i.e.:

[code]

[2016-07-26 21:23] pixelzoom commented on #74
Drat. Mathematical 𝑓 is one of those multibyte characters that requires a font that supports it - which we do not have by default.

[2016-07-26 21:38] pixelzoom commented on #74
Having to use HTMLText and image files for math symbols is totally bogus.  So I've removed those, and have implemented something that works on desktop browsers.  I will need to confirm on iPad, to verify that the mathematical Unicode symbols are supported.  And if I run into problems, I'm sure that I can come up with something else.  So... Leaving this issue open to verify on iPad.

[2016-07-26 21:41] pixelzoom opened #82 "replace equation image with a better solution"
There's a help dialog that looks like this:

![screenshot_67](https://cloud.githubusercontent.com/assets/3046552/17156500/67bf51c8-5347-11e6-94f9-220e08b974b4.png)

The top equation is an image file, "equation-help.png".  Sort of defeats the fact that 'x' and 'y' symbols are translatable.  Come up with a better solution.

[2016-07-26 21:41] pixelzoom commented on #74
Looks decent on desktop, e.g. Chrome:

![screenshot_67](https://cloud.githubusercontent.com/assets/3046552/17156439/181917a8-5347-11e6-962d-78c4b09fee2c.png)

The top equation is still an image, which I'll address separately in https://github.com/phetsims/curve-fitting/issues/82.

[2016-07-26 21:45] pixelzoom commented on #34
@amanda-phet can you please fill in the sim credits?  If any of these categories are irrelevant for this sim, you can omit them.

[code]

Credits for the Java version were:

[code]

I'm not sure who has participated in the HTML5 development, perhaps @ariel-phet knows.

[2016-07-26 21:47] pixelzoom commented on #34
Looks like MLL did initial work on the HTML5 version.  Should the 'thanks' category include:

[code]

[2016-07-26 21:49] pixelzoom commented on #32
A little premature to do this until the sim is nearer to completion. (Imo, this shouldn't be in the code review checklist, since it's in the master checklist.)

[2016-07-26 22:55] pixelzoom opened #83 "formulae for polynomials"
Representation of first, second and third degree polynomials is usually presented like this (e.g. from https://en.wikipedia.org/wiki/Curve_fitting):

y = ax + b
y  = ax<sup>2</sup> + bx + c
y = ax<sup>3</sup> + bx<sup>2</sup> + cx + d

But the curve-fitting sim currently presents them like this (note coefficients for first and second order polynomials):

y = cx + d
y  = bx<sup>2</sup> + cx + d
y =

[2016-07-26 22:57] pixelzoom commented on #83
The Java version was even more unusual:

y = a + bx
y = a + bx + cx<sup>2</sup>
y = a + bx + cx<sup>2</sup> + dx<sup>3</sup>
y = a + bx + cx<sup>2</sup> + dx<sup>3</sup> + ex<sup>4</sup>

[2016-07-26 23:00] pixelzoom opened #84 "quartic polynomials?"
The Java version supports quartic polynomials, the HTML5 version does not.  Since I'm jumping in late in the process, I want to verify that that was a conscious decision, and not a programming oversight.

Java version:

![screenshot_69](https://cloud.githubusercontent.com/assets/3046552/17158268/6dab02f2-5352-11e6-9b39-f2ec30a7fa9b.png)

HTML5 version:

![screenshot_70](https://cloud.githubusercon

[2016-07-27 02:36] veillette commented on #81
The r square barometer has a height of infinity. There is a denominator that is calculated for the process of r square. When there is one point on the screen we have r^2 =1 - 0/0;

[2016-07-27 03:20] veillette commented on #81
We can prevent this behavior by setting r square to zero when the number of points is one or zero. I did  a FuzzMouse=100&ea for five minutes and did not trigger any assertions,

[2016-07-27 04:30] ariel-phet commented on #84
@pixelzoom - this was a conscious decision. Meeting notes in the design doc from October 9 (2015 I believe) have the following

![quartic](https://cloud.githubusercontent.com/assets/4051174/17163878/7d5ab1ba-5380-11e6-86c2-2315df69448a.PNG)

Thanks for checking though! Closing

[2016-07-27 04:30] #84 closed

[2016-07-27 04:56] ariel-phet commented on #83
@pixelzoom this is specified in the design doc so it was a conscious decision

It does not look like the discussion was captured in the meeting notes ever (we were not as thorough at that time)...

I believe this approach was chosen so that "d" for instance never changed meaning.

I vaguely recall suggesting something like C_3, C_2, C_1, C_0 (where the numbers are subscripts) but that was definite

[2016-07-27 14:58] pixelzoom commented on #83
Perspective from someone new to the sim...

A a user, when I first tried this sim, I started with "linear", and was very surprised to see "y = cx + d". What happened to "a" and "b"?   As I progressed to "quadratic" and "cubic", I figured out what was going on. So it resulted in initial confusion, followed by "ok, this isn't the representation I've seen a million times before, but I can work with i

[2016-07-27 15:05] pixelzoom opened #85 "multiple screens?"
Throughout the [design document](https://docs.google.com/document/d/1_iAkd1nZx5ORLy37przO4wDG2fmHgtn9R5vRFILNUmY/edit#) there is reference to "screen 1" and "screen 2".   They are even mentioned in the October 9 meeting notes - and the last meeting notes are October 23 (no idea what year, but that's a different issue).

The mockups and implementation, on the other hand, show only 1 screen.

So...

[2016-07-27 15:32] veillette opened #86 "edge case for rSquare"
In cases where the points share all the same y value, an issue arises with the calculation of r Square. In this case the best fit line is a horizontal line. However the value of r square is undefined.
r^2=1 - (numerator/denominator) where the denominator vanishes.

FYI, the denominator is essentially the y variance of the points and is equal to zero if all the points fall onto a horizontal line.
T

[2016-07-27 15:36] veillette commented on #81
Work is done here, in the sense that the automatic testing is very unlikely to raise this assertion again. However the denominator can be zero with multiple points. This is being tracked in #86.

[2016-07-27 15:36] #81 closed

[2016-07-27 16:24] ariel-phet commented on #85
I believe that "screen 1" became Least Squares Regression.

@amanda-phet - do you recall if that is correct?

[2016-07-27 16:29] ariel-phet commented on #86
@veillette I think if we can handle it the same way we did in linear regression would be the most consistent.

[2016-07-27 17:08] pixelzoom opened #87 "clean up and restructure"
This sim is not in great shape, needs a lot of clean up and restructuring.

I did a significant amount of this before realizing that I should have published a "baseline" dev version before starting, since the most recent dev version (1.0.0-dev.4) was published in May 2015.

So I published this dev version (1.0.0-dev.5) as a checkpoint:
http://www.colorado.edu/physics/phet/dev/html/curve-fitting/1.

[2016-07-27 18:19] pixelzoom opened #88 "graphModelBounds not used consistently"
The model (CurveFittingModel) contains a field for the bounds of the graph:

[code]

Elsewhere in the code, that field is sometimes used, and sometime clients just use `CurveFittingConstants.GRAPH_MODEL_BOUNDS` directly.   So we should either (a) get rid of this field and use the constant everywhere, or (b) add a property Graph model element and use it everywhere.

[2016-07-27 18:20] pixelzoom commented on #87
`BucketAndGraphAreaNode` and `GraphAreaNode` are particularly egregious.

[2016-07-27 23:28] pixelzoom opened #89 "change behavior of 'Curve' check box"
Toggling the 'Curve' check box from on to off currently resets the values of the sliders associated with 'Adjustable fit'.  Is that really what you want?

[2016-07-27 23:33] pixelzoom opened #90 "problems with animation of points"
(1) Animation speed of a point (when it is returned to bucket) does not consider the distance of the point from the bucket.  So a point released from the rightmost side of the screen moves slower than a point released near the bucket.

(2) The animation speed is generally too fast. It's almost impossible to see any animation for points released near the bucket.

(3) It appears that points are stil

[2016-07-28 16:33] amanda-phet commented on #85
That's correct- screen 1 eventually became a separate sim. The design section of the sim is the most current and does not reference two different screens.

[2016-07-28 16:41] pixelzoom commented on #85
Thanks. Closing.

[2016-07-28 16:41] #85 closed

[2016-07-28 18:28] pixelzoom commented on #74
As I feared, the Unicode mathematical 'N' and 'f' symbols are not displayed on iPad, because there is no font support.  Same as this https://github.com/phetsims/function-builder/issues/28 that was encountered in function-builder.  So this is currently broken on iPad, and will be until I get around to fixing it.

[2016-07-28 19:25] amanda-phet commented on #89
Probably not. It doesn't currently reset the curve type (linear, etc.) so it shouldn't reset the sliders either. So let's specify the behavior a bit more clearly:

When unchecked, the state of the residuals checkbox (checked or unchecked), the curve type (radio button selection), and the adjustable fit sliders (locations), are all "remembered". When checked again, these items return to their previ

[2016-07-28 19:33] amanda-phet commented on #34
credits: {
  leadDesign: 'Mike Dubson, Amanda McGarry',
  softwareDevelopment: 'Chris Malley, Jonathan Olson, Martin Veillette',
  team: 'Trish Loeblein, Ariel Paul, Kathy Perkins',
  qualityAssurance: '',
  graphicArts: '',
  thanks: 'Thanks to Mobile Learner Labs for working with the PhET development team to convert this simulation to HTML5.'
}

I may come back and edit this (at least for the QA

[2016-07-28 20:49] pixelzoom commented on #89
That sounds perfectly reasonable, and what I would expect.  I.e. the "Curve" check box only controls visibility, it doesn't reset the curve and setting related to the curve.

[2016-08-02 18:27] veillette commented on #86
Thanks @ariel-phet .

For the record, the flash version of curve fitting uses the second approach. r^2 is zero for best fit and adjustable fit and the read out indicates zero.

In any case, we will need to check when the variance,
 (yyAverage - yAverage * yAverage))  is equal to zero.

[2016-08-05 16:31] pixelzoom commented on #74
I resolved this by using scenery-phet.MathSymbolFont for the 'f' and 'N' symbols, and that works on all platforms.

Since the font for the symbols (MathSymbolFont) must be different that the font for the rest of the text (PhetFont), this results in i18n limitations.  For example, the "f = ...."  must be assembled as 4 fragments.  Eg for English, the 4 fragments are:

[code]

Those 4 fragments are

[2016-08-05 17:15] veillette commented on #49
One can leverage solve in DOT.Matrix to do the heavy lifting.
Of course that simplifies the code base but it will come at the expense of introducing many instances of Matrix.  The Dubson implementation made a clever reuse of matrices which is not possible to achieve using Dot.Matrix (unless one uses scratch Matrices).

In this new implementation, all the heavy lifting is done by squareMatrix.solve

[2016-08-05 17:23] pixelzoom commented on #74
Allowing the translator to control the layout of nodes is a general problem (and a large-ish project) which I've move to https://github.com/phetsims/scenery-phet/issues/251.  For the time being, I'm not going to address this issue in curve-fitting.

[2016-08-05 17:32] pixelzoom opened #91 "address i18n issues with text containing math symbols"
See https://github.com/phetsims/curve-fitting/issues/74#issuecomment-237897994 and https://github.com/phetsims/scenery-phet/issues/251.

This concerns these 2 lines of text, in ReducedChiSquaredStatisticDialog:

![screenshot_76](https://cloud.githubusercontent.com/assets/3046552/17444988/07f463c6-5b00-11e6-8f6e-57992aa07e67.png)

Because the math symbols (f, N) must use a different font than the r

[2016-08-05 17:33] pixelzoom commented on #74
The original issue (avoiding use of HTMLText) has been addressed.  And I've moved the issue of text layout to https://github.com/phetsims/curve-fitting/issues/91.

Closing.

[2016-08-05 17:33] #74 closed

[2016-08-05 17:55] pixelzoom commented on #49
@veillette please clarify: Is the code that you pasted into the above comment the new proposed implementation (which doesn't appear to be pushed to GitHub), or what you are referring to as "the previous implementation"?

[2016-08-05 17:56] pixelzoom commented on #49
@veillette please clarify:

(1) Is the code that you pasted into the above comment the new proposed implementation (which doesn't appear to be pushed to GitHub), or what you are referring to as "the previous implementation"?

(2) Have you profiled the performance of the new implementation? Are you saying "the previous implementation of FitMaker was not a performance bottleneck" because the new imp

[2016-08-05 18:04] pixelzoom commented on #34
Thanks @amanda-phet. I've added what you provided so far, can fill in the rest later.  FYI, I added Mike Dubson to the softwareDevelopment category, since he was the author of the original Flash version.

[2016-08-05 18:38] pixelzoom commented on #28
I'll review this later, as part of a more thorough test of i18n.

[2016-08-05 18:39] pixelzoom commented on #76
Duplicate of #72. Closing.

[2016-08-05 18:39] #76 closed

[2016-08-05 18:40] pixelzoom commented on #72
I will review this as part of a more general test of pointer areas.

[2016-08-05 18:44] pixelzoom commented on #55
Documentation was still insufficient (or at least confusing).  I've update the documentation. Closing.

[2016-08-05 18:44] #55 closed

[2016-08-05 18:46] pixelzoom commented on #36
This was still messed up. Fixed in 8e6c957197ca29abdfad3b2c607a082dd48a4e22. Closing.

[2016-08-05 18:46] #36 closed

[2016-08-05 18:47] pixelzoom commented on #47
@amanda-phet specified the desired behavior for this in https://github.com/phetsims/curve-fitting/issues/89, where this issue will now be tracked.

Closing./

[2016-08-05 18:47] #47 closed

[2016-08-05 18:49] pixelzoom commented on #80
This is presumably referring to the sliders that appear when "Adjustable fix" is selected, and the terms that each of those sliders is associated with.

[2016-08-05 18:51] pixelzoom commented on #83
Looking at the code... Changing the current behavior is going to require some serious changes.  In the longterm the changes would be good, because the current architecture is brittle and inflexible.  But it's going to be a big chunk of work.

[2016-08-05 18:53] pixelzoom commented on #83
Looking at the code... Changing the current behavior is going to require some serious changes.  In the longterm those changes would be good, because the current architecture is brittle and inflexible.  But it's going to be a big chunk of work.  The other alternative is to live with things "as is" (including the presentation of the equations), get the sim published, and hope that it doesn't need ma

[2016-08-05 19:06] pixelzoom opened #92 "questions about tick marks on the graph"
A couple of things I noticed about the tick marks on the graph:

(1) x tick marks are at +5 and -5.  But y tick marks are at +5.7 and -4.3.  Is this a bug, or what was desired? (Looks like a bug introduced between 1.0.0-dev.4 and 1.0.0-dev.5, but figured I'd ask.)

(2) The tick marks are not labeled. Should they be?

[2016-08-05 19:19] veillette commented on #49
Jonathan Olson's comment implied  that using dot.Matrix might be a performance booster.
I was pointing out that the Dubson's implementation was not a performance bottleneck in the first place. Dubson's implementation works well and is accurate.

The code I pasted above is the new implementation that makes uses of dot.Matrix and Matrix.solve. It simplifies the codebase. I did not push it to GitHub.

[2016-08-05 19:25] pixelzoom opened #93 "location of y-axis tick marks"
At some point, the y axis tick marks moved from +5 and -5 to +6.3 and -3.7.  This doesn't seem like it was an intentional change.

I isolated the change to b07d5c256053a8cce0955041474b934606f4a982, by @memo330179 on 7/8/16, well before I started cleaning up this sim.

Since then, the y axis ticks have continued to migrate. As of master 4cc9cea05f33bef3322ae99fe869630094642bc1, they are at +5.7 and

[2016-08-05 19:27] pixelzoom commented on #49
If the results are the same, performance is the same or better, and there's less code, then I would opt for the new implementation.  That said, I'm not at all familiar with FitMaker yet, so your call.

[2016-08-05 19:31] pixelzoom commented on #92
Looking back through past dev versions and commits, it looks to me like the y-axis tick marks are currently in the incorrect position, and that +5 and -5 is what's desired.  Tracking that issue in https://github.com/phetsims/curve-fitting/issues/93.  But @amanda-phet please verify that it's a bug.

As for the tick labels... My instinct is to change the range of the x and y axes to [-11,11], then l

[2016-08-08 17:44] amanda-phet commented on #92
The tic marks should be at -10, -5, 5 and 10 for both axes. So yes, that's a bug if they are creeping away from that!

Changing the range of the axes to [-11,11] is fine with me, with tic marks at -10, -5, 5 and 10.

[2016-08-08 17:52] amanda-phet commented on #83
I'm not sure I understand... changing the coefficients to a standard representation would require serious changes to the code? If that's the case, let's just keep it "as is" with the format that was decided on by the design team.

I understand it is unconventional- trust me! We had many conversations about it, and the less conventional format seemed to satisfy the learning goals quite a bit better

[2016-08-08 17:56] pixelzoom commented on #93
Definitely a bug, see https://github.com/phetsims/curve-fitting/issues/92#issuecomment-238316257.

[2016-08-08 17:57] pixelzoom opened #94 "add tick mark labels"
See https://github.com/phetsims/curve-fitting/issues/92.

I said:

@amanda-phet replied:

[2016-08-08 17:58] pixelzoom commented on #92
Thanks @amanda-phet. Addressing these changes in #93 and #94.

Closing.

[2016-08-08 17:58] #92 closed

[2016-08-08 18:08] pixelzoom commented on #83
Yes, changing the coefficients to a standard representation would require serious changes to the code.  For example, coefficient 'a' is currently impossible to use with any term other than 'x^3'.  Similarly for the other coefficients.  Imo, this is a really bad internal design - there should be no direct tie between the coefficients in the model and how they are presented to the user.  And changin

[2016-08-08 18:12] pixelzoom commented on #83
Btw... This also implies that adding a Quatric curve (which was present in the Flash version) would be very difficult and costly.  So if some teacher pops up who was relying on that feature in the Flash version, we'll be in trouble.

[2016-08-08 18:14] amanda-phet commented on #83
I see. That does sound like bad design. It's probably not worth it for *this sim* to redo the internal design, since I don't think it's widely used and will probably not need new features in the future. But I will leave that to you and Ariel to decide.

As for adding a quartic curve, we decided that the learning goals associated with the higher degree functions were satisfied with only going to cu

[2016-08-08 18:15] pixelzoom commented on #83
OK. So the answer to this question is to leave the presentation 'as is'.  I'll decide separately whether to clean up the internals.

Closing.

[2016-08-08 18:15] #83 closed

[2016-08-08 18:16] amanda-phet opened #95 "quadratic and cubic incorrectly labeled"
Between dev4.5 and dev5 the quadratic and cubic labels got switched.

You can see in this screenshot (dev.5) that the quadratic equation is incorrectly labeled as cubic.

![screen shot 2016-08-08 at 12 15 48 pm](https://cloud.githubusercontent.com/assets/7852916/17490795/debfd08a-5d61-11e6-9467-05e6c60e8635.png)

[2016-08-08 18:20] pixelzoom opened #96 "problems with curve model and architecture"
Somewhat related to https://github.com/phetsims/curve-fitting/issues/83...

The curve model looks like this (Curver.js):

[code]

Rather than have having a fixed number of coefficient (a, b, c), it would be much better to have an array of coefficient.  And rather than naming the coefficients (a, b, c) and constant (d), it would be better to be agnostic about their names and leave the names to the

[2016-08-08 18:24] pixelzoom commented on #96
Thanks @amanda-phet, labels on the buttons have been fixed.

Closing.

[2016-08-08 18:25] pixelzoom commented on #95
Thanks @amanda-phet, labels on the buttons have been fixed.

Closing.

[2016-08-08 18:25] #95 closed

[2016-08-08 18:26] pixelzoom commented on #95
![screenshot_77](https://cloud.githubusercontent.com/assets/3046552/17491089/460c95ec-5d63-11e6-8cc9-667577f4d084.png)

[2016-08-25 23:06] pixelzoom opened #97 "sim relies on align:'right' default for Panels"
Related to https://github.com/phetsims/sun/issues/252, this sim relies on the old default of `align:'right'` for Panels.  Below are the stack traces for occurrences that need to be checked. These are the occurrences noted when loading the sim in requirejs mode. If the sim creates Panels dynamically, you should do further checking with fuzzMouse.

[code]

[2016-08-26 14:27] pixelzoom commented on #97
None of the above call sites use the `minWidth` option, so their behavior will be unaffected.  Closing.

[2016-08-26 14:27] #97 closed

[2016-08-31 17:19] pixelzoom commented on #87
I've been reassigned to plinko-probability, so won't be continuing with this sim.  Before I move on, @ariel-phet has asked me to:

- [ ] Clean up anything that I was in the middle of doing
- [ ] Create an issue describing any recommended changes to make the sim more maintainable

[2016-09-02 18:47] pixelzoom opened #98 "make control panels the same width"
This was broken during restructuring and cleanup in https://github.com/phetsims/curve-fitting/issues/87.  I was pulled off of curve-fitting before addressing it.

[2016-09-02 18:48] pixelzoom commented on #98
This concerns the panels created in type ControlPanel, which currently looks like this:

![screenshot_13](https://cloud.githubusercontent.com/assets/3046552/18214752/9d85b612-710b-11e6-9ff2-e4d2c98b91e6.png)

[2016-09-02 18:58] pixelzoom opened #99 "odd combination of Nodes in BucketAndGraphAreaNode"
BucketAndGraphAreaNode combines 3 UI components (bucket, graph and a control panel) in a bizarre manner that makes model-view transforms brittle and difficult to figure out.  Looks like this was done to facilitate dragging points from the bucket to the graph.  But there are much better ways to do this.  Recommended to separate these UI components and redesign this part of the user interface.

[2016-09-02 19:06] pixelzoom opened #100 "GRAPH_MODEL_BOUNDS vs graphModelBounds"
CurveFittingConstants defines:

```61 GRAPH_MODEL_BOUNDS: new Bounds2( -10, -10, 10, 10 )```

CurveFittingModel has field:

```50 this.graphModelBounds = CurveFittingConstants.GRAPH_MODEL_BOUNDS;```

Some places in the code use `model.graphModelBounds`, while others use `CurveFittingConstants.GRAPH_MODEL_BOUNDS` directly.  The value should be obtained from the same place at all call sites.

[2016-09-02 19:24] pixelzoom opened #101 "recommendations for improving Curve model"
I was pulled off of curve-fitting before I could address this. But @ariel-phet asked me to jot down some of my thoughts.

Model type `Curve` is the heart of the model, and it's a bit of a mess.

It has these Properties for the polynomial coefficients and constant (all of which I will refer to herein as coefficients):

[code]

The implementation is very rigid/brittle in how it requires these specif

[2016-09-02 19:25] pixelzoom commented on #96
Duplicate of #101 (which has more detail), closing.

[2016-09-02 19:25] #96 closed

[2016-09-02 19:27] pixelzoom opened #102 "review TODO items"
As part of #87, I added quite a few TODO items to the code.  I was pulled off of curve-fitting before addressing them all.  They should be reviewed and addressed.

[2016-09-02 19:28] pixelzoom commented on #100
Duplicate of #88, closing.

[2016-09-02 19:28] #100 closed

[2016-09-02 19:30] pixelzoom commented on #101
Related to https://github.com/phetsims/curve-fitting/issues/87

[2016-09-02 19:30] pixelzoom commented on #99
Related to https://github.com/phetsims/curve-fitting/issues/87

[2016-09-02 19:31] pixelzoom commented on #87
@ariel-phet I completed the tasks that you requested, see above issues.

Closing.

[2016-09-02 19:31] #87 closed

[2016-09-02 20:01] ariel-phet commented on #87
Excellent, thanks

[2016-10-11 02:46] memo330179 commented on #98
I took care of this by making the PANEL_MAX_WIDTH and PANEL_MIN_WIDTH the same size. This allows the panels to all take the same size and always be the same relative size no matter the size of the sim.

[2016-10-12 03:18] memo330179 commented on #89
The sim no longer resets when the curve view is toggled. It does still update curve fit when the curve is made visible again. It looks like the curve itself is not updated by new points unless it is visible.

[2016-10-13 16:35] memo330179 opened #103 "Sim is slowed down when dragging the point in the graph area."
When the curve updates it goes through every point between the x-axis.

[code]

This makes the drawing of the curve very slow in the iPad2 when moving a point around, redrawing the curve repeatedly. As soon as a point enters the graph area, we start calculating the fit and redrawing the curve many times.

[2016-10-16 17:32] veillette commented on #103
@memo330179 : Jonathon Olson outlined a procedure to plot a quadratic curve using a Bezier.
You can find the details in  https://github.com/phetsims/graphing-quadratics/issues/1

It should address the performance problem since it replaces hundreds of short linear segments by one Bezier.

The general approach can be generalized to Cubic polynomial.

[2016-10-31 22:53] pixelzoom commented on #98
Assigning to myself to review.

[2016-10-31 22:54] pixelzoom commented on #89
@memo330179 Is this ready for me to review, or is there more to be done?

[2016-10-31 22:55] pixelzoom commented on #80
Assigning to @memo330179, since this is one of the "3 specific issues" to work on first.

[2016-10-31 22:57] pixelzoom commented on #98
@memo330179 Is this ready for me to review, or is there additional work to be done?

[2016-10-31 23:42] memo330179 commented on #98
I think this one is ready for review.

[2016-11-01 00:11] memo330179 commented on #89
I don't think this one is ready yet. I removed the functionality of resetting the curve fit when the curve view is toggled. I need some more time to completely separate the view and the model. I opened issue #103, and @veillette responded to it. That will need to be implemented so that the simulation doesn't slow down.

[2016-11-01 17:51] pixelzoom commented on #98
Looks good and passes stringTest. Closing.

[2016-11-01 17:51] #98 closed

[2016-11-04 20:55] memo330179 commented on #89
I think this is ready for review. I thought I had to make the fit update even when curve visibility was off, but now I realize that doesn't make sense.

[2016-11-04 20:57] memo330179 commented on #80
I need some clarification on this issue. I am not sure what the alignment issue is. My first instinct says the sliders all should be in the center, but I am not sure.

[2016-11-08 16:23] pixelzoom commented on #89
The requirements in https://github.com/phetsims/curve-fitting/issues/89#issuecomment-235999000 were:

The state of the "Residuals" check box is not being restored.

[2016-11-08 16:28] pixelzoom commented on #80
The sliders should be positioned below their respective terms in the equation.  Here's a mockup from the design document. Note how the slider for 'a' is centered below the 'a' in the equation (and similarly for other terms).

![screenshot_63](https://cloud.githubusercontent.com/assets/3046552/20107375/956bde7a-a595-11e6-80e2-94f39feadde9.png)

[2016-11-18 15:43] memo330179 commented on #89
I added a line on GraphAreaNode.js
[code]
that makes the residuals invisible when the curve is invisible. I also removed the link that sets the residualsVisibleProperty to false when the curve is made invisible.

assigning @pixelzoom for review

[2016-11-18 16:57] pixelzoom commented on #89
Still not quite right, two problems:

(1) The 'Residuals' check box should be enabled only when 'Curve' is checked. 'Residuals' is currently enabled all of the time, allowing you to interact with it when 'Curve' is not checked.

(2) When 'Curve' is unchecked, 'Residuals' should be unchecked. When 'Curve' is checked, 'Residuals' should be restored to the state it had the last time that 'Curve' was

[2016-11-18 18:38] memo330179 commented on #89
I see. I accidentally removed the line that enables and disables the checkbox. I was trying to do it without creating a storage variable that 'remembers' the state of the checkbox. Do you recommend adding that variable in? The sim currently, disregarding point 1, does the behavior except visibly checking and unchecking the residuals checkbox.

[2016-11-18 18:44] pixelzoom commented on #89
Running the test sequence described in https://github.com/phetsims/curve-fitting/issues/89#issuecomment-261582940, I don't see it saving and restoring the state of the 'Residuals' check box.  Where is that handled?

[2016-11-18 19:17] memo330179 commented on #89
I restored the line that enables and disables the residuals checkbox
This is the way it is currently working:

- check 'Curve'
- check 'Residuals'
- add three or more points to see residuals
- uncheck 'Curve' -- 'Residuals' remain checked. 'Residuals' become disabled.  Residuals path become invisible.
- check 'Curve' -- 'Residuals' remain checked. 'Residuals' become enabled. Residuals path become

[2016-11-18 19:47] pixelzoom commented on #89
Yes, a local state variable is needed - see `wereResidualsVisible` in the above commit.

Note that this also makes this line unnecessary in GraphNode, so I've removed it:

``` curve.isVisibleProperty.linkAttribute( residualsPath, 'visible' );```

[2016-11-18 19:52] memo330179 commented on #89
Thank you that makes sense to me.

[2016-11-18 19:56] pixelzoom commented on #89
It was difficult to describe how to do this without actually doing it, so I hope you don't mind that I made the change.

I think we can close this issue, do you agree?

[2016-11-18 19:58] memo330179 commented on #89
That's alright. You explained it well. I was just trying to get as much clarification as possible. I do think the issue can be closed.

[2016-11-18 20:05] #89 closed

[2016-12-06 23:05] pixelzoom opened #104 "convert from PropertySet to Property"
PropertySet is deprecated and should be replaced by Property, see phetsims/axon#102.  Since this sim hasn't been been published yet, this should be done before RC testing and publishing.

[2017-03-18 20:49] veillette opened #105 "barometers shift position"
![image](https://cloud.githubusercontent.com/assets/7633344/24075889/9c2ebf2c-0bfa-11e7-8ee3-3b9f1d4962f9.png)

Procedure to repeat:
Click on curve
Set two points at the same position (must be exactly at the same position)

[2017-03-18 21:07] veillette opened #106 "Add a snap-to-grid feature through a query parameter for QA team."
In order to uncover bugs very early on in the development process, it would useful to add a query parameter for the quality assurance team.
Many sims that deal with graphs, (e.g: charges and fields, curve fitting,  least-squares-regression) have many subtle bugs when two point, charges, etc, share the same position.  (see https://github.com/phetsims/curve-fitting/issues/105 for an example).

Howev

[2017-03-18 22:04] veillette commented on #93
The ticks are now in the correct position. However, they should be refactored because (1) they are based on the view position rather than the model.
As of right now they are set to appear 1/4 and 3/4 of the way of the graph.

In the long run, it would be better to have a tickMark factory that would generate tick marks at the specified location.

[2017-03-18 23:25] veillette opened #107 "d value does not get updated properly in displayed equation"
![image](https://cloud.githubusercontent.com/assets/7633344/24076787/27c2eefe-0c10-11e7-89e2-efca9087dc0a.png)

The above image shows that the curve fitting algorithm works properly however the d value in the equation (-0.1) is not the correct value. (it is should be roughly -8 in this particular instance).  For the record, the b and c values are updated correctly.

[2017-03-18 23:33] veillette commented on #107
It turns out that the displayed d value  was the rounded value of the c parameter.   It is fixed.

![image](https://cloud.githubusercontent.com/assets/7633344/24076842/b20c626a-0c11-11e7-8343-89ebbc231941.png)

[2017-03-18 23:33] #107 closed

[2017-03-18 23:35] veillette commented on #103
it would be worth checking if this change improve  significantly the rendering of the curve on the iPad.

[2017-03-18 23:37] veillette commented on #103
The cubic Bezier algorithm has not been implemented yet. We should wait if the quadratic Bezier improves the performance before tackling the cubic Bezier.

[2017-03-20 15:57] phet-steele commented on #106
I sure think this would be great!

[2017-03-20 20:15] veillette commented on #49
The new implementation of fitMaker that relies on DOT was pushed. It will simplify a bit the codebase.
One side benefit of using DOT is that we can use methods of DOT to more easily find edge cases .
For instance issue #105 is due to the fact that the inverse matrix does not exist. This easier to do in DOT.

Running fuzzMouse for five minutes does not reveal any issues.

[2017-03-22 20:49] phet-steele opened #108 "Automated Testing Error"
Caused by two points making an undefined slope (easier to NOT put them on top of each other). Had to fuzzMouse for about 2 hours to occur. It's much easier to repro by hand.
[code]

[2017-03-25 20:40] veillette commented on #108
Matrix is Singular implies that the determinant of the solution matrix is zero, hence there is no inverse to the matrix. As a result, no solution exists for the a,b,c,d coefficients. Two points sharing the same x position  lead to a slope of infinity.

I can commit a temporary solution where a solution a=b=c=d=0 is returned for cases where the determinant is nearly zero.. Long term, it would prefe

[2017-03-25 20:59] veillette commented on #108
The commit should resolve this ticket but doesn't address the larger issue of how to deal with such ill fitted curve . Let me close this issue and addressed  these concerns in another issue.

[2017-03-25 20:59] #108 closed

[2017-03-25 21:04] veillette commented on #103
The simulation was tested on an iPad 2 and it does resolve the problem.  so closing

[2017-03-25 21:04] #103 closed

[2017-03-25 21:13] veillette commented on #99
Digging into this, I found that at some point in the past , the data points where handle through a custom pixelToModel transformation. Hence, it was convenient to get all nodes that handles points in one node. Since the sim is now using a model view transform, this approach is no longer relevant.  The BucketAndGraphAreaNode was eliminated altogether.

The curveFittingScreenView is the parent graph

[2017-03-27 21:38] veillette commented on #94
The previous commit will make it easier to change the position and number of tick lines.

[2017-04-01 13:44] veillette commented on #106
the query parameter , snapToGrid, was added. Closing

[2017-04-01 13:44] #106 closed

[2017-04-17 17:31] veillette commented on #60
This issue is irrelevant since the simulation does no longer make use of properties to keep track of the parameter a, b, c ,d.
All the code regarding saving, deleting and stashing status of properties has bee removed.

[2017-04-17 17:31] #60 closed

[2017-04-17 17:38] veillette commented on #37
I have been to aggressive in  removing cruft and I reintroduced  this bug.

[2017-04-18 16:43] phet-steele commented on #105
@veillette assuming you don't hit this assertion while following your steps, you can then try to adjust the error bars:
[code]

[2017-04-20 17:10] amanda-phet commented on #34
Unassigning. @phet-steele should add in QA credits when this sim is closer to publication.

[2017-04-21 17:02] veillette commented on #105
The calculation of r Squared value is inappropriate when we encounter a 0/0 division. We need to check that the numerator is zero.

[2017-04-21 18:45] veillette commented on #105
the previous commit addresses this issue.  After running FuzzMouse for ten minutes no assertions were hit.

[2017-04-21 18:45] #105 closed

[2017-06-22 13:22] veillette commented on #104
Curve-fitting does not make use of any PropertySet.

[2017-06-22 13:22] #104 closed

[2017-08-18 20:07] pixelzoom opened #109 "incorrect usages of unlink"
Related to https://github.com/phetsims/axon/issues/132.

CurveFittingModel contains this code:

[code]

As you can see, the `unlink` calls are very wrong.  In `removePoint`, the calls to `unlink` are passed brand new functions, so there's no way that they can deregister the functions that were linked in `addPoint`.

[2017-08-18 20:08] pixelzoom commented on #109
Fortunately, I don't see any other cases of this anti-pattern in curve-fitting.

[2017-08-23 16:20] #109 closed

[2017-08-24 16:07] veillette commented on #109
I took notice of my mistake.
Thanks @pixelzoom for fixing.

[2018-01-30 23:30] pixelzoom opened #110 "font for math symbols and variables"
Noted while working on https://github.com/phetsims/scenery-phet/issues/348 ...

Curve Fitting is not using `MathSymbolFont`(Times New Roman, italic) for math symbols and variables, which is inconsistent with other PhET sims.

Assigning to @amanda-phet (lead design in credits) to decide if this needs to be addressed.

[2018-04-10 22:36] pixelzoom opened #111 "use InfoButton"
Curve Fitting info button should use SCENERY_PHET/buttons/InfoButton, which uses the international "info" symbol.  Should definitely _not_ be using a '?', even though it's translatable

[2018-04-10 22:37] pixelzoom commented on #111
![curve-fitting](https://user-images.githubusercontent.com/3046552/38587069-66156c46-3cdd-11e8-9ee9-ccdb40ef2878.jpg)

[2018-09-19 15:17] samreid opened #112 "Convert from TWEEN to Twixt"
As discussed in https://github.com/phetsims/joist/issues/387#issuecomment-419600722, it would be nice to use Twixt instead of TWEEN.  This sim has 1 occurrence of `new TWEEN.Tween(...)`.  Assigning to the responsible dev.  After completing this issue, check if the hold on https://github.com/phetsims/joist/issues/387 can be removed (if this was the last "Convert from TWEEN to Twixt" issue).

[2018-10-22 15:23] KatieWoe opened #113 "CT: x needs to be a number"
[code]

[2018-11-01 18:39] pixelzoom opened #114 "review open issues"
11/1/2018 dev meeting notes:

@SaurabhTotey will be taking this over.

@pixelzoom will skim through open issues and tag the ones that would be good to start with.

[2018-11-05 16:04] pixelzoom opened #115 "cosmetic issues with equation"
The equation that appears in the upper-left corner of the graph has a lot of cosmetic problems. Besides not using the proper font for symbols (see https://github.com/phetsims/curve-fitting/issues/110):

- the equation is not using plus and minus operators, it's using the signs of values
- operators should be black, values should be blue
- should the sign of 'b' be shown when its value is positive?

[2018-11-05 16:11] pixelzoom opened #116 "odd location for tick labels"
Tick labels in this sim are very strange - the labels are not at the end of the tick lines, they are on the opposite side of the axis.

![screenshot_829](https://user-images.githubusercontent.com/3046552/48011734-b2fb2d80-e0dd-11e8-8cc7-76634773d7f7.png)

Tick labels are typically at the ends of the tick lines, like this example from pH Scale:

![screenshot_828](https://user-images.githubuserconte

[2018-11-05 16:12] pixelzoom commented on #116
Related to https://github.com/phetsims/curve-fitting/issues/93, but not a duplicate.

[2018-11-05 16:28] pixelzoom commented on #115
Also noted that when move sliders, there is no proximity with the changing values. May want to revisit the overall design.

[2018-11-05 16:39] pixelzoom opened #117 "convert to ES6"
Requested by @ariel-phet.

[2018-11-05 16:44] pixelzoom commented on #110
I discussed with @amanda-phet. This sim should definitely use the math font.

See GRAPHING_QUADRATICS/GQSymbols for a pattern that could be used here.  The font is handled via HTML markup, then passed to RichText.

[2018-11-05 16:51] pixelzoom opened #118 "non-standard forms of linear and quadratic equations"
Here's the form of equations used by this sim.

Linear: y = cx + d
Quadratic: y = bx<sup>2</sup> + cx + d
Cubic: y = ax<sup>3</sup> + bx<sup>2</sup> + cx + d

The symbols that this sim uses in linear and quadratic forms don't match standards, or what PhET has done in other sims. The standards are:

Linear: y = mx + b
Quadratic: y = ax<sup>2</sup> + bx + c

The current implementation looks suspicio

[2018-11-05 16:52] amanda-phet commented on #116
What do you think about just extending the tick marks? I prefer them on the left side, but I think this looks better than the original.

![image](https://user-images.githubusercontent.com/7852916/48013002-8e548500-e0e0-11e8-8576-d998c36cfd41.png)

[2018-11-05 17:00] amanda-phet opened #119 "Deviations accordion box changes"
There are multiple open issues relating to the Deviations panel. While tweaking it to address these, I have made some other changes

* #116 Tick label locations
* #111 New info button
* #110 Use math font (in this case, Chi and r should be math fonts)
* Use persistent accordion box title
* When the accordion box is minimized, keep the width the same

![image](https://user-images.githubusercontent.

[2018-11-05 17:51] pixelzoom commented on #116
@amanda-phet See [1.0.0-dev.7](https://phet-dev.colorado.edu/html/curve-fitting/1.0.0-dev.7/phet/curve-fitting_en_phet.html) and screenshot below for what I had in mind. I was easier to change the code than to make a mockup, and the code is now in a better place to accept change requests.  Does this look acceptable to you?

![screenshot_831](https://user-images.githubusercontent.com/3046552/480163

[2018-11-05 17:56] pixelzoom opened #120 "lots of duplication in BarometerX2Node and BarometerR2Node"
There is lots of duplication in BarometerX2Node and BarometerR2Node, see TODO comments in the code.

There's also some weirdness in BarometerX2Node that makes it necessary to define `OFFSET` and use a VStrut.  I suspect that this is unnecessary, and is a workaround for some other problem that wasn't addressed properly.

In any case, it seems like a BarometerNode base class should be factored out.

[2018-11-05 17:58] pixelzoom commented on #119
We'll have @SaurabhTotey start on this after completing #117.

[2018-11-05 17:59] pixelzoom commented on #119
Looks like both of these are already working properly.

[2018-11-05 18:00] pixelzoom commented on #119
Also related to this is #120.  Code related to the "barometers" is not in good shape, lots of duplication.

[2018-11-05 18:05] pixelzoom commented on #114
Done. I assigned #117 and #111 to @SaurabhTotey to start on.  After that, we'll focus on issues related to the Deviations accordion box.

[2018-11-05 18:05] #114 closed

[2018-11-05 18:18] pixelzoom opened #121 "clean up bucketnode"
Determine whether BucketNode can be replaced with SCENERY_PHET/BucketFront and SCENERY_PHET/BucketHole.

[2018-11-05 18:18] pixelzoom commented on #121
@SaurabhTotey this is another relatively easy issue that you can start with.

[2018-11-05 18:34] amanda-phet commented on #119
You're right, I wasn't looking at master!

[2018-11-05 18:39] amanda-phet commented on #116
That looks good to me, thanks!

[2018-11-05 19:02] amanda-phet commented on #118
There is a pedagogical reason for this- we want the variables to stay the same as you add/remove terms from the polynomial.

[2018-11-05 19:20] pixelzoom commented on #118
Looks like I asked about this before and got the same answer, see https://github.com/phetsims/curve-fitting/issues/83.   Sorry about that.   Closing.

[2018-11-05 19:20] #118 closed

[2018-11-05 19:21] pixelzoom commented on #116
👍

[2018-11-05 19:21] #116 closed

[2019-01-08 15:43] KatieWoe commented on #113
[code]

[2019-02-13 16:08] KatieWoe commented on #113
May be similar
[code]

[2019-05-02 19:39] amanda-phet commented on #115
At this point, given how far along this sim is, I'd like to leave the overall design as it is (even if it's somewhat dated compared to our newest sims).

However, the text should definitely be updated. Here is a mockup illustrating how the equation should look, as well as the panel with the equation, sliders, and labels.
![image](https://user-images.githubusercontent.com/7852916/57102027-bca5cc80-

[2019-05-02 20:50] pixelzoom commented on #115
Re equations...

The font for symbols is `SCENERY_PHET/MathSymbolFont`, which is `family: '"Times New Roman", Times, serif';` with `style: 'italic'`

Equations should use symbols and operators that are in `SCENERY_PHET/MathSymbols`.

Superscripts (e.g. _x_<sup>3</sup>) should be done using HTML markup with `SCENERY/RichText`.

[2019-05-22 14:56] pixelzoom commented on #113
Still a problem as of 5/22/19.

[2019-05-23 22:15] veillette commented on #113
![image](https://user-images.githubusercontent.com/7633344/58290107-8a3f3a80-7d86-11e9-9dd2-13af707d1dee.png)

Step to reproduce:
Set curve to BestFit and Cubic;
Put four points sharing the same x values and you should be able to trigger the assertions.

[2019-05-23 22:21] veillette commented on #113
The other assertions that is possible to trigger involves the curveShape.quadraticCurveTo.

![image](https://user-images.githubusercontent.com/7633344/58290344-6f20fa80-7d87-11e9-8dbd-81b895f3ed74.png)

To reproduce set three points sharing the same x values and set the fit to quadratic and BestFIt.

[2019-05-23 22:45] veillette commented on #113
From a pedagogical standpoint, the two cases above are irrelevant and this is a misuse of curve- fitting but given enough time, CT can generate these edge cases scenarios, hence why curve-fitting fails.

At the heart of the failure is that CurveShape attempts to be clever by representing the shape of the curve as a series of quadratic Bezier or cubic Bezier. CurveShape fails at finding the appropr

[2019-05-24 01:05] veillette commented on #113
Note that the query parameter snapToGrid=true makes it much easier to trigger the assertions than trying to attempt to put two points on the same x values.

[2019-05-24 01:43] veillette commented on #113
I was able to track down the problem.

Util.solveQuadraticRootsReal(0,0,0) yields null, which is a perfectly reasonable answer since there are no roots for a polynomial of 0x^2+0x+0.   A similar issue arises with Util.solveCubicRootsReal(0,0,0,0)

Therefore, when the best fit line solution is 0x^2+0x+0 or 0x^3+0x^2+0x+0, then the  findSpecialXCoordinates function in CurveShape will return an array

[2019-05-24 02:02] veillette opened #122 "In CurveShape, can the approach to generate a curve shape be simplified?"
in #103, the approach to generate the shape of the best fit curve was modified in order to get better performance on the iPad2.  Although the proposed solution improved the performance on the iPad2, it is a bit forbidding mathematically, hard to debug (see #113) and may be no longer be warranted if the iPad2 is no longer supported.

[2019-05-24 14:44] veillette commented on #113
I've ran curveFitting with the query parameters ea&fuzz&snapToGrid=true for 20 minutes, ( snapToGrid=true tremendously increased the likelihood to uncover these edge cases) and it came out clear. So i'll close this issue.

[2019-05-24 14:44] #113 closed

[2019-05-28 17:43] SaurabhTotey commented on #121
It seems like BucketNode uses BucketFront and BucketHole from SCENERY_PHET, but also adds extra functionality like to the bucket like a drag handler. From what I can tell, it seems like it would be difficult to replace BucketNode without re-implementing its functionality where it is used.

[2019-05-29 16:42] SaurabhTotey commented on #120
As of right now, I have deduplicated a lot of the code between BarometerR2Node and BarometerX2Node by making a common BarometerNode superclass. However, as for the VStrut with the OFFSET in BarometerX2Node, this variable seems to be a workaround for spacing and placement of the BarometerX2Node. I haven't yet gotten around to fixing this, but I intend to put all of the alignment code in DeviationsA

[2019-05-29 16:46] SaurabhTotey commented on #111
I have made helpButton an InfoButton rather than a TextPushButton. This has made the button a circle rather than a square.

[2019-05-29 16:47] SaurabhTotey commented on #117
I believe I have converted all the files in this project to ES6.

[2019-05-29 18:03] SaurabhTotey commented on #120
After committing 607397d0c9941cbb6a6a4d4b33d79c4ff695a602 which reworked DeviationsAccordionBox alignment, I was able to remove the VStrut in BarometerX2Node because it now doesn't contribute to alignment.

[2019-05-29 18:08] SaurabhTotey commented on #119
In my latest commit, I changed the fonts for the chi and r symbols so they now use the MathSymbolsFont. I also centered the info button horizontally. I still need to rework the barometers to have appropriate tick placement.

[2019-05-29 18:10] SaurabhTotey commented on #111
In my latest commit, I just horizontally centered the info button as is shown in the design in #119.

[2019-05-29 18:12] SaurabhTotey commented on #110
In 607397d0c9941cbb6a6a4d4b33d79c4ff695a602, I switched to the math font for the chi and r symbols in the DeviationsAccordionBox.

[2019-05-29 21:33] SaurabhTotey commented on #115
I believe I have improved the appearance of the equation in the graph area so that it seems more similar to the graphing quadratics equation. However, spacing might still be an issue.

[2019-05-29 21:34] SaurabhTotey commented on #110
I believe that by this point, all the symbols and variables in the equations in curve-fitting use MathSymbolsFont.

[2019-05-30 19:42] SaurabhTotey commented on #119
At this point, I have also fixed the barometers and their appearance to be more similar to the image. As such, I believe that everything in this issue has been addressed.

[2019-05-30 21:50] SaurabhTotey commented on #90
In regards to (1), I don't quite understand the problem: should a point's speed scale with its distance from the center, or should it have a constant speed? For (3), would the optimal solution be to have the animation cancel when the point is picked, or should the point become unpickable once it starts animating towards the bucket?

[2019-05-31 20:36] SaurabhTotey commented on #102
I have managed to address all of the TODOs in the repository. Currently, there is only one more TODO left which I myself put regarding the complexity of some calculations in BarometerX2Node. All other TODOs left in the code have been addressed and removed.

[2019-05-31 21:39] pixelzoom commented on #102
👍 Nice job @SaurabhTotey.

[2019-06-01 22:11] pixelzoom commented on #90
Re (1)... I believe that the speed should be the same, regardless of where the particle is released.  But you should confirm with the sim's lead designer. (I'm not sure who that is, if you don't know then ask @ariel-phet.)

Re (3) ... Again, probably best to ask the lead designer.  If it were me, I'd cancel the animation if a point is grabbed while it's animating.  The other approach seems more li

[2019-06-03 17:11] SaurabhTotey commented on #86
As of right now, it seems like r^2 is 1 for a perfectly horizontal line for both best fit and adjustable fit. However, for adjustable fit, it seems like the r^2 is always 1 regardless of how well the adjustable fit actually models the points. In adjustable fit, I can get situations where the r^2 is 1 and the X^2 value is 4325. I will spend some time trying to get the behavior where r^2 will be 0 f

[2019-06-03 17:24] SaurabhTotey commented on #28
It looks like the X^2 value displays well for most reasonable X^2 values, but I am able to get ridiculously large X^2 values where the current solution may not be optimal. It may be possible that the numbers will need to be represented with a multiplication with a power of ten.

Here is what the sim looks like with ridiculous X^2 values.
<img width="1386" alt="Screen Shot 2019-06-03 at 11 15 25 AM

[2019-06-03 17:32] pixelzoom commented on #28
That is indeed a big value.  `ScientificNotationNode`  probably wouldn't be of much help, because it would display something like 1.43 x 10<sup>10</sup>, which has a similar "width" problem.  I'm not sure what to suggest here.

[2019-06-03 17:52] SaurabhTotey commented on #86
This issue is now seemingly fixed in 008a420. It now sets the r^2 to 0 whenever all the points are perfectly horizontal. r^2 is set to 0 for both adjustable fit and best fit.

[2019-06-03 19:52] SaurabhTotey commented on #80
I have made a few small commits to try and reduce this issue. The sliders are right now slightly better aligned under the coefficients, but it still isn't quite perfect. I have spent a lot of time trying to get perfect alignment (using things like `.centerX`) to no avail, so I have instead used an HStrut and a modification of slider dimensions as a stopgap. Below are a few pictures of how it looks

[2019-06-03 20:12] SaurabhTotey commented on #93
From what I can parse from GraphAreaNode, it seems like the graph area is now consistently from -11 to 11 for both axes, and it seems like the ticks are now generated in a way that, at least to me, seems to make sense. The ticks are added based on model location, and transformed to view coordinates using a ModelViewTransform. The graph area and ticks both seem to be consistent, and I haven't seen

[2019-06-03 20:20] SaurabhTotey commented on #94
I believe this issue can be closed. Here is what master looks like right now.

<img width="1390" alt="Screen Shot 2019-06-03 at 2 17 26 PM" src="https://user-images.githubusercontent.com/22577113/58831731-917a0a00-860a-11e9-9351-ebbef0fb53f7.png">

There are tick labels at -10, -5, 5, and 10 for both axes, and the graph bounds are -11 to 11 for both axes.

[2019-06-03 20:39] SaurabhTotey commented on #24
This is still an issue as of right now on master. I am assigning this issue to @ariel-phet to get an answer to the previous question so that I can know how to proceed.

[2019-06-03 20:47] SaurabhTotey commented on #90
A lot of these issues can probably also be addressed at the same time as #112.

[2019-06-03 20:53] pixelzoom commented on #80
Trying to eyeball the slider locations is problematic, especially since font sizes vary on browsers, and translated symbols will change term width.  If you want to precisely position the sliders under terms, you might try adding methods to the equation that allow you to get the position of each term.  That will give you the information needed to position the sliders.  You may need to transform the

[2019-06-04 15:43] ariel-phet commented on #24
@SaurabhTotey I think we should make a few small tweaks.

1. Currently (in master), the coordinates are not vertically centered on the data point (they are shifted up a bit versus the center line). Let's move the coordinates to be vertically centered.

2. Lets put a somewhat opaque box around the coordinates (lets try a light grey to begin with). For an example of what I mean, see the "Standard Fo

[2019-06-04 21:00] SaurabhTotey commented on #80
Thanks for the offer for help! Eventually, I was able to figure out why my previous attempts at setting `centerX` didn't work. After a few hours of trying to figure out why my solutions weren't working, I figured out that I was having issues with HBox and VBox ignoring the fact that I was setting a new `centerX`. I just fixed this by replacing the usages of HBox and VBox with Node and spacing elem

[2019-06-04 21:14] pixelzoom commented on #80
@SaurabhTotey wrote:

Nicely done!

In Graphing Quadratics, the difference in horizontal space between sliders was OK, see screenshot below.  But you should check with @amanda-phet, since this sim may have requirements that I'm not aware of.

<img width="335" alt="screenshot_1230" src="https://user-images.githubusercontent.com/3046552/58914276-54ca1380-86db-11e9-9d94-6fe31c2a51f0.png">

[2019-06-05 19:39] SaurabhTotey commented on #24
I have now made it so that the error cannot overlap with the coordinates, and I have also added a background rectangle to the coordinates text. Also, the coordinates are now centered along the point. Below is an example of what points look like in master right now.

<img width="1381" alt="PointNode Changes Example" src="https://user-images.githubusercontent.com/22577113/58984805-290c6380-8797-11e9

[2019-06-05 20:31] SaurabhTotey commented on #88
I don't think that this is an issue anymore. Marking as ready for review.

[2019-06-05 20:34] SaurabhTotey commented on #99
It seems like this issue is no longer relevant after BucketAndGraphAreaNode has been removed. Marking as ready for review.

[2019-06-05 20:46] SaurabhTotey commented on #49
I believe this issue can be closed. Marking as ready for review.

[2019-06-06 17:04] SaurabhTotey commented on #77
It looks like r^2 squared accounts for weights. Because I don't know what to do with this issue or where to go with it, I am marking this as ready for review.

[2019-06-06 17:22] SaurabhTotey commented on #90
Ok, assigning to @amanda-phet to get answers about point animation speed for (1) and (2), and also on point behaviour for (3).

[2019-06-06 17:24] SaurabhTotey commented on #28
Assigning to @ariel-phet to see what should be done about extremely large X^2 values.

[2019-06-06 21:32] SaurabhTotey commented on #122
In my latest commit, I removed the majority of the CurveShape code and switched to using linear interpolation as was suggested. The entire constructor now looks like as follows.

[code]

With this new code, I have noticed some slight performance dips, but nothing huge or apparent. The original linear interpoloation code used 1000 segments, which caused a very noticeable performance drop, so in thi

[2019-06-06 21:46] ariel-phet commented on #28
@SaurabhTotey I think the learning goal here is that big Chi^2 values means not good fit.

My suggestion is that above a value of 1000 you change the equal sign to a `>` symbol and just pin the value at 1000, so above 1000 it would read

The actual value is not so important at that point, just that it has gotten big

[2019-06-07 17:40] SaurabhTotey commented on #28
As of right now in master, below is what the Chi Squared readout looks like.
<img width="186" alt="chisquaredindeviationsaccordionbox" src="https://user-images.githubusercontent.com/22577113/59122746-c2af4e80-8918-11e9-9ed2-0e1643e5e636.png">
The '>' sign is used whenever the Chi Squared gets above 1000, and the value is capped at 1000. Otherwise, the readout functions as normal. As I believe this

[2019-06-07 18:18] SaurabhTotey commented on #86
I previously hadn't realized that the flash simulation and the least squares regression sim handled this case differently. As such, I made the behaviour of this sim match that of least squares regression. Now, for perfectly horizontal points, there is no readout for r^2. r^2 only has a value (that can still be 0) whenever the points are not exactly horizontal. This solution most closely resembles

[2019-06-07 18:43] SaurabhTotey opened #123 "Sim does not open on iPad"
@veillette and I were talking through a few issues yesterday, but we ran into another new issue. Apparently, when trying to open the simulation on an iPad to test another issue, we found that the simulation would get stuck in loading, almost halfway. This behaviour seems to resemble what it would look like if a simulation errored. We tried running `grunt build` and then running the build version,

[2019-06-07 20:24] SaurabhTotey commented on #123
After trying to run dev versions of this simulation, I have found that the 1.0.0-dev.7 version runs on the iPad, but the new 1.0.0-dev.8 version that I made doesn't run. This probably means that recent changes from me must be behind what is breaking this simulation on iPad.

[2019-06-07 20:34] SaurabhTotey commented on #123
After testing running the sim on the iPad during different points within the commit history, I have been able to narrow down that the first commit where the simulation breaks on the iPad is 95087852de856805e505429e1bce4319a0a6ee13. I will need to look further into why this commit is breaking the simulation on iPad.

[2019-06-07 21:26] #123 closed

[2019-06-07 21:34] SaurabhTotey commented on #123
I have now figured out and solved this issue. I will document my process and the issue here just for future reference. I was looking through 9508785 and I couldn't find any reason for why that code would break on the iPad. After a while of searching, I found an inconspicuous `.flat()` call. I decided that flattening arrays was the only thing from that commit that survived. I looked through master,

[2019-06-07 21:43] SaurabhTotey commented on #37
I am unable to reproduce this behavior on master. I believe this issue has been fixed for a while. In `view/FitPanel.js`, I see a comment on line 148 that mentions this issue and disables irrelevant sliders. I believe that that code should be enough to prevent this issue. Consequently, I am marking this issue as ready for review, because I believe that this issue no longer exists.

[2019-06-10 17:38] SaurabhTotey commented on #101
It seems like right now, the curve model is completely different from what is described here. At least for myself, I do not find the Curve model too hard to understand. As such, I am marking this issue as ready for review.

[2019-06-10 18:27] SaurabhTotey commented on #91
Assigning to @amanda-phet to see whether this issue can be deferred or not. Ideally, it would be nice to have something like `TextWithEmbeddedNodes` to solve this issue, as described in phetsims/scenery-phet#251, but it seems like that class does not yet exist and it will probably take a while.

[2019-06-10 19:26] SaurabhTotey commented on #112
As of right now, I have changed the Point animations to use Twixt. However, a lot of the code regarding animations in that file can be simplified. I will mark this issue as ready to review once I simplify the logic in Point so that it is simpler and easier to read.

[2019-06-10 20:44] SaurabhTotey commented on #112
Point has now been slightly cleaned up. As such, I believe this issue has been completed, and I am marking this as ready for review.

[2019-06-10 21:07] SaurabhTotey commented on #82
Assigning this issue to @ariel-phet. I don't know where exactly to go with this issue. One thing I could try and do is convert each part of the equation to a Text node so that the strings are translatable, but I don't know if that is desired or would even help.

[2019-06-11 04:03] ariel-phet commented on #82
@SaurabhTotey talk to @veillette about how he is using `formulaNode` might be a possible solution. If not, we can consider punting on the first version of this sim and figure this out later. Math sims have a general issue of not having a great formula solution, so it is a more general problem.

[2019-06-11 17:40] SaurabhTotey commented on #82
Ok, I have now replaced the formula image in the dialog with `FormulaNode`. The dialog now looks like this.
<img width="659" alt="dialog" src="https://user-images.githubusercontent.com/22577113/59293603-bf7bd180-8c3c-11e9-80ca-df862ae9c7ac.png">

Personally, I think this looks pretty good, but it has a few issues. For one, the Chi symbol is different than the capital X we have been using throughou

[2019-06-11 17:47] pixelzoom commented on #82
Looking really nice! Well done @SaurabhTotey.

[2019-06-11 18:52] SaurabhTotey commented on #82
Thanks @pixelzoom!

Regarding my issues with the chi, it turns out that chi is a translatable symbol we have in the strings file, so I don't have any more reservations about having the `X` be a chi, because it can be changed and also translated.

The equation is now almost fully translatable. The `X`, `N`, `f`, `x`, and `y` strings can be translated. I initially had a bit of trouble inserting the

[2019-06-11 20:19] SaurabhTotey commented on #82
Just for reference, the current documentation is
[code]

[2019-06-11 21:17] #117 closed

[2019-06-11 21:18] veillette commented on #49
This issue is so old that its title refers to a module that no longer exists. The current method getBestFitCoefficients in Curve.js  fulfills the same role as FitMaker.

[2019-06-11 21:21] #82 closed

[2019-06-11 21:27] #112 closed

[2019-06-11 21:33] #111 closed

[2019-06-11 21:38] #49 closed

[2019-06-11 21:54] #93 closed

[2019-06-11 22:07] #37 closed

[2019-06-11 22:13] #28 closed

[2019-06-11 22:21] amanda-phet commented on #82
Looks amazing! Thanks for your work on this @SaurabhTotey .

[2019-06-11 22:23] amanda-phet commented on #91
I do agree with @pixelzoom that this might cause problems. What will it look like with a RTL locale? Can you direct me to the query parameter so I can see?

[2019-06-11 22:31] amanda-phet commented on #90
For (1) I think a set speed makes sense. In a sim like LSR it's much slower, although it speeds up a little in the middle of the journey. To keep it simple I think a set speed is fine.

(2) I'm happy to iterate on speeds if you like, but start with something and I can let you know if I think it should be faster or slower.

(3) What is done in LSR? @phet-steele tested that one and it passed, so I'd

[2019-06-12 00:48] veillette commented on #77
The r^2 calculation takes the weights into account. Closing

[2019-06-12 00:48] #77 closed

[2019-06-12 00:58] veillette commented on #122
@SaurabhTotey, that looks good. We can close this issue. If there are any performance issues that are raised during RC testing, you should know that this change is the likely culprit. WIth the appropriate SHA https://github.com/phetsims/curve-fitting/commit/0d0018423f0a855f552fcf2a1b7f587ecaa94db4, you can revert to the more performing (but more complicated code-wise) approach.

[2019-06-12 00:58] #122 closed

[2019-06-12 17:26] veillette commented on #90
Regarding point (3). LSR has some logic to deal with points that are grabbed while in motion. However I think the only reason that it is included at the time was to win the accolades of @phet-steele rather than a design decision. However, it is not particularly difficult to implement if you decide to do so.

[2019-06-12 17:34] SaurabhTotey commented on #91
Pasting a conversation with Chris from 6/10/19:

It seems like using an RTL locale definitely causes problems. I haven't been able to find an explicit RTL query parameter, but I did find a query parameter called `locale`, where if I add `locale=ur` (Urdu seems to be an RTL locale) to the sim, the dialog text breaks badly. The text is still in English, but the layout of symbols relative to the text

[2019-06-12 17:43] SaurabhTotey commented on #119
Assigning to @amanda-phet to review and then sign off. For the help button, I used a color picker on the image which says the icon's fill color is `rgb( 44, 107, 159 )`. As such, that is the current color of the info button on master as well, but I am happy to change anything that is needed.

[2019-06-12 17:56] SaurabhTotey commented on #24
Assigning to @amanda-phet to review and potentially sign off on.

[2019-06-12 17:58] SaurabhTotey commented on #80
Assigning to @amanda-phet to review and either give feedback or sign off. The feedback on this issue will potentially affect how I will need to attempt #72.

[2019-06-12 18:12] #86 closed

[2019-06-12 18:15] #120 closed

[2019-06-12 18:15] #88 closed

[2019-06-12 18:16] #99 closed

[2019-06-12 18:37] #121 closed

[2019-06-12 18:39] SaurabhTotey commented on #115
Assigning to @amanda-phet to review current appearance of equation.

[2019-06-12 18:42] SaurabhTotey commented on #110
Assigning to @amanda-phet to review. All symbols now use MathSymbolsFont, but it doesn't look to great in terms of kerning in regards to the chi squared values or the r squared values in the DeviationsAccordionBox. @chrisklus suggested the use of FormulaNode instead.

[2019-06-12 18:49] SaurabhTotey commented on #94
Previously, the ticks were close to the axes, but I have since added padding. Assigning to @amanda-phet to review.

[2019-06-12 18:49] #101 closed

[2019-06-12 20:28] SaurabhTotey commented on #123
Just for more reference, I have since replaced the `.map(...).reduce(...)` with `_.flatMap(...)` using lodash to flatMap.

[2019-06-12 20:53] SaurabhTotey commented on #90
In my latest commit, I ensured that animating points could be grabbed and have the animation cancelled. I also switched the easing to linear. I believe the easing for linear regression is cubic in-out, which is an easy switch to make. As for the current speed of points, I have set it to be an arbitrary 75 model units per second in CurveFittingConstants at line 22.

As such, (3) has been solved (to

[2019-06-13 17:24] amanda-phet commented on #90
I think the speed could be a touch slower. Maybe 65 or 70 units per second? Otherwise it all looks good to me. I like linear for this sim. LSR we chose something "fancier" because there is an erase button that returns all points to the bucket, but this sim only animates a point back if it's released outside the grid area.

[2019-06-13 17:38] amanda-phet commented on #94
Looks great to me.

[2019-06-13 17:38] #94 closed

[2019-06-13 17:40] amanda-phet commented on #110
The formula in the dialog looks good.

Is it possible for chi squared and r squared to *not* use an italic '2' in the exponent?

[2019-06-13 17:42] amanda-phet commented on #115
The equation on the graph looks great! Although, I think the signs used to be blue to correspond better with the values in the sliders, especially if a value is negative. Is that an easy change to make? If not I can live with it as it is.

[2019-06-13 17:50] amanda-phet commented on #80
Since these sliders are much closer than the ones in GQ, I have a bit more hesitation. c and d are just really close and it seems a problematic from a touch perspective and a little unnecessary. I would prefer if they were more evenly spaced, even if they aren't directly under the coefficients (sorry!). The spacing between a, b, and c looks good, so maybe just apply that to all of the sliders.

[2019-06-13 17:54] amanda-phet commented on #24
The spacing looks great to me and it all looks good in terms of overlap.

I like the gray background for the coordinates. I wonder if we can do a similar one for Dy, but give it a white transparent background. It would help in cases like this:
![image](https://user-images.githubusercontent.com/7852916/59455656-e4ee1400-8dd1-11e9-8483-053db6b9a4e2.png)

[2019-06-13 17:56] SaurabhTotey commented on #90
Ok, that makes sense as to why linear should be fine for this simulation. As for the animation speed, I have reduced it now to 65.

[2019-06-13 17:57] amanda-phet commented on #24
Actually... can we also change the background of the coordinates from gray to orange, to match the point? If it looks like too much orange we can go back to gray, but I’d like to see it. Maybe you can try it and put in a screenshot here (I'm also happy to look in-person or on zoom with you).

[2019-06-13 17:58] amanda-phet commented on #90
Looks great to me! Thanks!

[2019-06-13 17:58] #90 closed

[2019-06-13 21:16] SaurabhTotey commented on #115
The switch wasn't difficult at all! The coefficients' signs are now colored blue just like the coefficients themselves.

[2019-06-13 21:29] SaurabhTotey commented on #24
I still have yet to make the white semi-opaque background box for the Dy term. However, I switched the coordinates's background to orange. In the below screenshot, one of the point's coordinate background is fully opaque. The other point has a semi-opaque background for its coordinate. Both oranges are the same shade as the orange for the point.

<img width="641" alt="orange-point-example" src="ht

[2019-06-13 21:44] amanda-phet commented on #24
It should definitely not have full opacity... I can't remember what we decided on in Graphing Quadratics but maybe you could check that code and match it? Maybe .75? I can't remember at all.

[2019-06-13 21:45] amanda-phet commented on #115
Looks good. Thank you!

[2019-06-13 21:45] #115 closed

[2019-06-13 21:50] SaurabhTotey commented on #24
I just double checked to make sure, and both simulations use 0.75 for their opacities for these background rectangles. The point at (5, 5) is what the background rectangle looks like at 0.75 opacity.

[2019-06-14 17:45] SaurabhTotey commented on #24
In my latest commit I added a white background for the delta text. The opacity of all background rectangles are 0.75.

Currently, even when dragged outside of the graph area, the delta for points are visible, even though the coordinates are not. I am wondering whether this behaviour is desired. Another thing that happens that may not be desired is that when points animate back to the bucket, their

[2019-06-14 18:21] amanda-phet commented on #24
The backgrounds look good to me. Thanks for adding those!

I think it's fine for the error delta to be visible, since that seems consistent to me. I also noticed the coordinates on the point when returning to the bucket, and again that seems consistent to me and is fine.

One thing that is very apparent now is the layering. Currently, newer points are layered over older points. It's a little stran

[2019-06-14 20:13] SaurabhTotey commented on #24
At first, I thought it would be tricky, but it actually doesn't seem too hard to implement. The points that get clicked on get moved to the top now.

[2019-06-14 20:36] SaurabhTotey commented on #80
Now in master, the sliders are placed relative to each other and the left edge and have an even spacing. This comes at the expense that the sliders aren't guaranteed to be _exactly_ under the coefficients, which I don't think should be a huge issue. This is what it looks like now.

<img width="224" alt="sliders" src="https://user-images.githubusercontent.com/22577113/59536671-7da79100-8eb1-11e9-89

[2019-06-17 17:38] SaurabhTotey commented on #110
Sure! I switched the exponents in the DeviationsAccordionBox to use a normal font without italics. Now, only the symbols are using MathSymbolFont. However, it seems to me like the kerning issue is still there where part of the `X` runs into the 2 exponent. Below is what it looks like in master.

<img width="168" alt="equations" src="https://user-images.githubusercontent.com/22577113/59624606-69070

[2019-06-17 17:51] pixelzoom commented on #110
I was going to suggest using [letter-spacing](https://www.w3schools.com/cssref/pr_text_letter-spacing.asp) to adjust the kerning.  But it's not supported by RichText (see RichText `FONT_STYLE_MAP` for a list of supported CSS keys.)   I suggest either living with it, or creating an issue to add `letter-spacing` support to RichText.  No idea how difficult the latter is.

Related issue... To my eye,

[2019-06-17 17:58] SaurabhTotey commented on #91
I'm reassigning this issue to myself because I believe I may be able to implement a workaround for how to make these strings more translate-friendly using string templates and RichText font-family funcitonality.

[2019-06-17 18:28] SaurabhTotey commented on #72
Touch areas are now flush for adjustable fit sliders.

<img width="226" alt="Slider Touch Areas" src="https://user-images.githubusercontent.com/22577113/59627405-652ab700-90fb-11e9-8289-d8d0993afdb7.png">

[2019-06-17 18:28] #72 closed

[2019-06-17 19:10] amanda-phet commented on #110
It's not a huge deal to me if you leave the spacing as it is. I agree with @pixelzoom about the equal sign. A little more space to both the left and right would be nice.

[2019-06-17 20:15] SaurabhTotey commented on #110
I added a space before and after the equals sign so it now looks like this.

<img width="182" alt="Deviations Accordion Box Equations" src="https://user-images.githubusercontent.com/22577113/59633644-36680d00-910a-11e9-8261-7475502598d9.png">

[2019-06-17 20:37] amanda-phet commented on #110
Looks great to me.

[2019-06-17 20:37] #110 closed

[2019-06-17 20:54] SaurabhTotey commented on #91
Using string patterns and StringUtils.fillIn, I believe that the strings in this dialog are now fully translatable, even for RTL languages. I have included the string patterns below just in case.

[code]

To allow for the use of math font, I use RichText formatting for the symbols that are passed in. Because I believe this issue is solved, I will close this issue.

[2019-06-17 20:54] #91 closed

[2019-06-19 17:50] amanda-phet commented on #80
Checked on master and they look great to me! Thanks for making that change.

[2019-06-19 17:50] #80 closed

[2019-06-19 18:00] amanda-phet commented on #24
Looks great to me!

@ariel-phet do you have an opinion about the background colors? If you prefer gray I'm fine going back, but orange is consistent with what we are doing in other sims. Feel free to close if it looks good to you.

[2019-06-19 20:32] amanda-phet commented on #119
The panel looks good to me, although in #116 I think I had already signed off on the look of the barometers. So this change wasn't necessary, but I'm ok with this too!

The blue color probably came from somewhere but I can't remember. I'm sure this blue is fine. Thanks!

[2019-06-19 20:32] #119 closed

[2019-06-20 02:03] ariel-phet commented on #24
@amanda-phet  Looks good to me. Closing

[2019-06-20 02:03] #24 closed

[2019-06-20 02:07] ariel-phet opened #124 "Some pixel polishes"
@SaurabhTotey @amanda-phet Curve fitting is look close to where we might want to consider some polishes.

@SaurabhTotey one that should definitely be done is that the radio buttons are quite large visually currently. If you look at any recent published sim with radio buttons we tend to make the radius of the button approximately the same size as the first letter of the label.

We probably want to

[2019-06-20 15:58] amanda-phet commented on #124
I'm fine with the radio button size changing.

One polish that comes to mind is that the equation in the adjustable fit panel jumps a little when it is linear because there is no exponent to offset it like the other equations. If we could keep those all aligned in some way that might be nice.

[2019-06-20 18:29] SaurabhTotey commented on #124
Equations now have a constant vertical size, so they will no longer jump up and down when switching between linear and other forms.

As for the radio button sizes, I have decreased the round radio buttons to have a radius of 6 and the square buttons to have a width of 14. This is what it looks like now in master.
<img width="201" alt="Buttons" src="https://user-images.githubusercontent.com/2257711

[2019-07-01 18:04] ariel-phet commented on #124
@amanda-phet can you plan to bring this to the next design meeting @kathy-phet is at, might be good to have her eyes on the sim before we publish and see if she has any desired polishes

[2019-07-03 17:56] amanda-phet commented on #124
Will do. Let's plan on 7/11/19.

[2019-07-11 20:37] ariel-phet opened #125 "Limit uncertainty to +/-10"
Currently the uncertainty bars can be expanded unlimited.

Make the uncertainty bars limited to a value of 10.

[2019-07-11 20:39] amanda-phet opened #126 "Layer equation accordion box on top with some transparency"
We would like the equation accordion box to be layered on top of the points, error lines, error bars, and labels. It should have a white fill with at least 0.8 opacity (might need to play with values to get it right so that it is easy to read when any labels are behind it).

[2019-07-11 20:39] ariel-phet opened #127 "Allow uncertainty bars to be expanded up or down from zero position"
Currently if the uncertainty is set to zero, the uncertainty can only be expanded "upwards" - we should make it symmetric so the user can either pull up or down to expand from zero, since once the bars are expanded, the user can adjust using either the upper or lower bar.

[2019-07-11 20:45] amanda-phet opened #128 "shrink slider thumbs"
Make them slightly smaller so that you can see the 0 mark, but keep the touch areas as large as possible. Maybe make the thumbs a tiny bit shorter in addition to scaling them.

[2019-07-11 20:52] amanda-phet opened #129 "touch areas review"
- [ ] make the points and error bars "touch to snag"
- [ ] decrease the height of the error bar touch areas slightly
- [ ] increase the height of the point touch area slightly

[2019-07-11 20:57] amanda-phet opened #130 "label axes"
we should label the axes with *x* and *y*.

[2019-07-11 21:01] amanda-phet commented on #130
this means we should probably change the graph range to -10 to 10, similar to Graphing Lines. The axes arrow would extend beyond the white box with labels to the right of each arrow head.

[2019-07-11 21:03] amanda-phet commented on #130
copy tick marks that are currently in Graphing Lines... one mark for every unit with major marks at 5 and 10.

[2019-07-11 21:32] SaurabhTotey commented on #125
I believe this issue is now done. Closing, but feel free to reopen if there is more work to be done here.

[2019-07-11 21:32] #125 closed

[2019-07-12 15:35] SaurabhTotey commented on #127
I have changed the dragging behaviour to now set the delta to the absolute distance of the mouse from the point's y center. This means that both error bar portions can be dragged in both directions at all times. This makes it slightly harder to get a delta of 0 (because there is no automatic stopping) and it gives the visual illusion that the error bars switch places.

I think this feels a little

[2019-07-12 15:42] SaurabhTotey commented on #128
I have changed the slider thumbs so that they are less "heavy", but still have the same touch areas as before. They might appear to be a little bit too thin now. Also the 0 value only barely peeks out from below the sliders. Below are images of what this looks like for right now.

<img width="199" alt="sliderswithoutpointerareas" src="https://user-images.githubusercontent.com/22577113/61140674-158

[2019-07-12 16:27] amanda-phet commented on #128
yeah, can you make them just a little bit taller?

I'm OK with the amount of the 0 line that is visible. You can always look at the equation for values (which is exactly what I do) but this is just a little more helpful.

[2019-07-12 16:30] amanda-phet commented on #127
This certainly solves the original issue, but I don't think we can go this route. It is just too difficult to get to 0.

I would prefer what we had before over this. If you have another idea it might be worth trying out, though. Feel free to slack me to bounce ideas around.

[2019-07-12 16:41] SaurabhTotey commented on #126
I have moved the equation to the front and given it an opacity of 0.8. Here's what it looks like in master on a busy graph. Objects below the equation are still draggable.
<img width="564" alt="graphequationinfront" src="https://user-images.githubusercontent.com/22577113/61144097-305b1700-a491-11e9-8282-16f6b2b27a9b.png">

[2019-07-12 16:49] SaurabhTotey commented on #128
Ok, sounds good. I have increased the thumbs from height 8 to 10. Here is what it looks like now. I can increase the height even more if needed.
<img width="208" alt="tallerthumbs" src="https://user-images.githubusercontent.com/22577113/61144579-75cc1400-a492-11e9-8ca6-260730685035.png">

[2019-07-12 16:51] SaurabhTotey commented on #127
Ok, I will reassign this to myself for the time being and revert the changes of ae8370f. I'll try and revisit this again at a later point in time if I have thought of anything else for this issue.

[2019-07-12 17:58] amanda-phet commented on #128
I like them! These look great to me.

[2019-07-12 17:58] #128 closed

[2019-07-12 18:02] amanda-phet commented on #126
@kathy-phet what do you think? I think it looks good, but the thing that bothers me right now is that I can see the 10 label on the y-axis. So, this solution works well with points layered behind the equation, but I don't like constantly seeing that 10. Since we will be changing the bounds of the graphing area with #130 I will wait to make a final opinion.

[2019-07-12 18:23] kathy-phet commented on #126
To fix that issue that Amanda notes, you can do what I said, basically make the expanded box have 2 fill layers - one that is behind the points but infront of the axis - that is solid white, and a second that is in front of the points that is a transparent white.

A bit tricky for sure, but I believe we have done this sort of thing in other sims. @SaurabhTotey could ask on the dev channel about it

[2019-07-12 19:38] SaurabhTotey commented on #126
This should be an easy fix, but the code will look slightly weird. I'll assign this to myself and get to work on this solution.

[2019-07-12 21:16] SaurabhTotey commented on #126
Now the equation is layered such that the accordion box is on top of everything, and there is also a background behind the accordion box that is behind everything except for the graph axes. Points are still grabbable from under the equation.

Below is what it looks like.
<img width="558" alt="graphempty" src="https://user-images.githubusercontent.com/22577113/61158977-c9048d80-a4b7-11e9-90d3-86bed

[2019-07-12 21:17] SaurabhTotey commented on #126
I'll experiment further with this once I tackle #130.

[2019-07-16 15:51] SaurabhTotey commented on #129
I have adjusted the pointer touch areas, and after some testing, it looks like the points and the error bars already have touch-to-snag. Below is what the pointerAreas look like.
<img width="558" alt="pointerareas" src="https://user-images.githubusercontent.com/22577113/61309227-09f9ec00-a7af-11e9-9cfa-cb326cabd7b8.png">

[2019-07-17 20:45] SaurabhTotey commented on #130
I have changed the graph a bunch so it now looks like this.
<img width="560" alt="Graph" src="https://user-images.githubusercontent.com/22577113/61410210-1b232580-a8a1-11e9-9739-7d6b95b641c5.png">

This is almost exactly the same as graphing-lines, but one key difference is that there are no grid lines. Assigning to @amanda-phet to review.

[2019-07-17 20:51] SaurabhTotey commented on #126
Assigning to @amanda-phet to review and see whether the opaque layer of the equation in front of the axes but behind the points is still needed (which is what is on master right now). If not, I can revert back to having the equation only have the semi-transparent layer that will show everything below it including the axes.

[2019-07-17 21:01] SaurabhTotey opened #131 "Equation AccordionBox can prevent points from being dragged"
It is possible to drag the point to a place where it is completely covered by the expand/collapse accordion button and cannot be dragged out.
<img width="199" alt="accordionboxcoveringpoint" src="https://user-images.githubusercontent.com/22577113/61411082-c84a6d80-a8a2-11e9-8d2c-119ce9f4b1ca.png">

I can either increase the point touch areas or decrease the touch areas for the expand/collapse butt

[2019-07-17 21:02] SaurabhTotey commented on #124
Closing this issue because other issues have been opened from the design meeting.

[2019-07-17 21:02] #124 closed

[2019-07-17 22:14] kathy-phet commented on #126
I think it looks good with the layering.

[2019-07-18 15:21] amanda-phet commented on #126
I think this is working nicely.

[2019-07-18 15:21] #126 closed

[2019-07-18 16:25] amanda-phet commented on #129
Those look great to me!

[2019-07-18 16:25] #129 closed

[2019-07-18 16:37] amanda-phet commented on #131
This seems like an annoying situation to be in, especially if someone doesn't realize the point is there. You *can* hide the curve to grab the point, but that doesn't seem like a great solution. I hesitate to change the size of the touch areas because otherwise they are all working nicely.

I guess I am leaning toward making the expandCollapseButton touch area smaller, since that is a simpler solu

[2019-07-18 16:38] amanda-phet commented on #130
This is working for me. It's quite busy with all of the tick marks, but that's ok. Thanks for making these changes!

[2019-07-18 16:38] #130 closed

[2019-07-18 21:46] SaurabhTotey commented on #127
I have spent a bunch of time on this, and I have implemented a solution on master that might feel better. I added flags so that when the delta is 0, there is a special exception to allow the top bar to be dragged down as if it were the bottom bar. Once the top bar decides whether it will behave as a top bar or bottom bar, it sticks to that behaviour until the end of the drag. This solution require

[2019-07-23 21:41] amanda-phet commented on #127
I like it a lot! I didn't look for bugs but the behavior seems really smooth to me.

[2019-07-23 21:49] SaurabhTotey commented on #127
Thanks! Since posting the original comment, I have tested the behaviour, and I haven't yet found a bug. I'll close this issue for right now, and if bugs are found with this during testing, this issue can be reopened or a new issue can be opened.

[2019-07-23 21:49] #127 closed

[2019-07-24 00:50] ariel-phet commented on #131
@amanda-phet @SaurabhTotey in some sims we have had a "bump out" rule. If you place an object somewhere undesirable, it "bumps" out of that position. or you could restrict the point to not go under the expand/collapse button. Perhaps ping the dev-channel for some examples of where this kind of solution has been implemented. It seems placing a point here is not very useful anyhow, and should be avo

[2019-07-24 19:18] SaurabhTotey commented on #131
I made some behaviour that bumps the points out if they are under the expand/collapse button. The points get pushed until their center is outside of certain bounds (the bounds right now are set to be the same as the button's bounds). I can expand the bounds where the points get pushed so that they get pushed out further. Assigning to @amanda-phet to review.

[2019-07-25 16:00] amanda-phet commented on #131
I was able to test this and I don't think the bump is big enough because I still have a hard time grabbing the point. Can you increase it slightly?

[2019-07-25 17:38] SaurabhTotey commented on #131
I have expanded the push bounds so that the center of a point must be at outside an area that is the button's area dilated in each direction by 0.55 in terms of model/graph coordinates.

[2019-07-26 16:54] amanda-phet commented on #131
That looks great to me! Thanks!

[2019-07-26 16:54] #131 closed

[2019-08-06 19:42] jaspearias opened #132 "Clicking the information button freezes the sim"
<b>Test Device</b>

Chadwick

  <b>Operating System</b>

Chrome OS

  <b>Browser</b>

  Chrome

  <b>Problem Description</b>

For https://github.com/phetsims/QA/issues/394
When testing the query parameter for rtl clicking on the information button freezes the whole screen. If you refresh the page it goes back to normal and you are able to click on all of the other buttons, but if the information b

[2019-08-06 19:54] SaurabhTotey commented on #132
The error in the console is
```Error: KaTeX parse error: Unexpected character: 'ت' at position 0: ̲تست (زبان)_r^2```

As such, I believe this issue more is an issue with using unicode characters than using RTL. I'll look into this further.

[2019-08-06 20:49] SaurabhTotey commented on #132
I'll remove the translatability for the equation right now due to https://github.com/phetsims/scenery/issues/457#issuecomment-156634759. However, I won't work more on this issue until a more decisive decision has been reached about what to be done about this.

[2019-08-06 22:17] KatieWoe opened #133 "Items look interactable even while dragging a separate item"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/394
Not certain if this is a bug.  If not, feel free to close.  When dragging an object, if you pass over another object it clearly indicates it can be interacted with, even though you are currently dragging another object.
**Steps to reproduce**
1. Take out at leas

[2019-08-06 22:56] KatieWoe opened #134 "Should the values option show residual value?"
For https://github.com/phetsims/QA/issues/394.
I noticed that when the residuals and values checkboxes are both checked, the value shown is still that of the greyed out error bars, but no indication of what the residual bar's value is.
![shouldresidualvaluesshow](https://user-images.githubusercontent.com/41024075/62582846-0ec03600-b86b-11e9-86df-bd9d98152093.png)

[2019-08-07 15:43] SaurabhTotey commented on #133
To complicate things a little, the other items (points and error bars and such) are still draggable as long as the device has multi-touch and the objects are dragged with a different finger.

I'll defer the decision of what should be done about this to @amanda-phet.

[2019-08-07 15:47] SaurabhTotey commented on #134
On an extremely brief skim through the design doc, I couldn't find anything regarding this. I'll leave the decision up to @amanda-phet as to what should be done about this.

[2019-08-07 17:27] KatieWoe opened #135 "Difficult pointer areas around error bars"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Firefox
**Problem description**
For https://github.com/phetsims/QA/issues/394
I noticed that the pointer areas for the error bars can, by default overlap a bit with their point.  The visible part of the bars can even overlap with the point's pointer area entirely.  The first aspect can make grabbing the bars with a touchscreen difficult,

[2019-08-07 20:46] SaurabhTotey commented on #135
I haven't pushed these changes to master, but below is what it looks like when I change the width from 20 to 26. I can still further expand or reduce these. Assigning to @amanda-phet to review and decide on what is best.

<img width="1440" alt="withoutpointerareas" src="https://user-images.githubusercontent.com/22577113/62656639-e34c5280-b921-11e9-8772-8b1ee2997dc6.png">
<img width="1440" alt="wit

[2019-08-07 20:49] KatieWoe opened #136 "Should the X2 bar show that it extends further?"
For https://github.com/phetsims/QA/issues/394
I noticed that X2 could get to be much larger than 100, and though the scale has an arrow to show this, the bar does not indicate that is going off the the scale.  Should it somehow?
![shouldthisindicate](https://user-images.githubusercontent.com/41024075/62656955-8dc47580-b922-11e9-850d-5a896562b2fc.png)

[2019-08-07 21:16] KatieWoe opened #137 "Lines outside of graph can look odd"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Firefox
**Problem description**
For https://github.com/phetsims/QA/issues/394
The line created to fit the curve (either automatically or by the user) extends beyond the bounds of the graph, but does not extend indefinitely.  This can be useful, but it also looks rather strange if part of a curve is cut off in the manner.  I think it woul

[2019-08-07 21:21] SaurabhTotey commented on #136
I'll defer this design decision to @amanda-phet.

[2019-08-07 21:22] SaurabhTotey commented on #137
I'll defer this design decision to @amanda-phet.

[2019-08-07 21:28] KatieWoe opened #138 "Sim won't open in IE"
For https://github.com/phetsims/QA/issues/394
The sim will not load in Internet Explorer
```SCRIPT438: Object doesn't support property or method 'includes'```

[2019-08-08 21:12] SaurabhTotey commented on #137
Just for a little more context, the line in Graphing Lines extends past the graph, but the curves are cut off at the graph in Least Squares Regression and Graphing Quadratics.

[2019-08-08 21:18] amanda-phet commented on #137
Has this always been the case? Or did this change when you changed the graph to match Graphing Lines?

Ideally the curves are contained only within the white square of the graph. @SaurabhTotey can you make that happen?

[2019-08-08 21:20] SaurabhTotey commented on #137
This change happened when I tried to make this graph look like the graph from Graphing Lines. I can make the curve stay only inside the bounds of the white part of the graph pretty easily.

[2019-08-08 21:55] SaurabhTotey commented on #137
Ok, I have changed this on master. Below is what it looks like.
<img width="1440" alt="Screen Shot 2019-08-08 at 3 54 10 PM" src="https://user-images.githubusercontent.com/22577113/62740341-d0ef1900-b9f4-11e9-9a44-2d95309f998c.png">

[2019-08-09 17:04] SaurabhTotey commented on #138
I believe I have replaced the code that was causing this issue, but I'll check once I make another dev-version.

[2019-08-09 18:21] SaurabhTotey commented on #135
When I increased the size of the error bars, I forgot to decrease the dilation so that it wouldn't grow with the rectangle. I have done that now, so below is what it looks like right now on master.

I can further increase or decrease the size of the error bars and their touch dilations as necessary.

![WithPointerAreas](https://user-images.githubusercontent.com/22577113/62800211-17e61880-baa0-11e9

[2019-08-09 19:26] SaurabhTotey commented on #138
After now building dev version 16, it seems like this simulation now works on IE. I've only tested on one device, so please reopen this issue if it actually isn't solved.

[2019-08-09 19:26] #138 closed

[2019-08-12 17:00] amanda-phet commented on #135
I liked the original size of the error bars, and I think the touch areas were working out ok.

@KatieWoe did you have trouble grabbing anything? or did you more just want the bars to appear bigger and grabbable?

I am interviewing this sim on touch tomorrow (8/13/19) and would like to keep the bars as they are and see how it goes before making this change. @SaurabhTotey you can revert your change

[2019-08-12 17:06] KatieWoe commented on #135
I had a bit of trouble in the case when the the error bars have been shrunk beyond their default size

[2019-08-12 17:18] amanda-phet commented on #137
Looks great! Thanks!

[2019-08-12 17:18] #137 closed

[2019-08-12 17:23] amanda-phet commented on #136
That's a good question. I thought at one time the red bar went past 100 in that case, but I could be wrong. In either case, it doesn't really matter all that much. The point is, X^2 is really really big.

@SaurabhTotey if it's easy to make the red bar go past 100 when it's over 100, please do so. up to the base of the arrowhead seems fine to me.

[2019-08-12 17:26] amanda-phet commented on #134
No, that's not necessary. That feature is more about showing visually what the residual is.

[2019-08-12 17:26] #134 closed

[2019-08-12 17:28] amanda-phet commented on #133
@ariel-phet thoughts about this? This doesn't seem all that unusual to me, but if it looks buggy should we fix it?

@KatieWoe is this unique to this sim? I have never tried looking at this in another sim, but I'm curious if it happens elsewhere.

[2019-08-12 17:33] SaurabhTotey commented on #135
I will revert my change for right now.

[2019-08-12 19:47] KatieWoe commented on #133
@amanda-phet I looked at Graphing Lines and it does seem to happen in other sims.  It just seems more likely to occur/be noticed here.

[2019-08-12 19:59] SaurabhTotey commented on #136
I have implemented that change in master.
<img width="242" alt="x2barometerfill" src="https://user-images.githubusercontent.com/22577113/62894060-2e42dd00-bd09-11e9-8927-d33a8a691679.png">

Assigning to @amanda-phet to review.

[2019-08-12 20:50] amanda-phet commented on #136
I think that looks reasonable.

Can you include this change in a new dev version for me to use tomorrow?

[2019-08-12 21:29] SaurabhTotey commented on #136
Sure! This change is included in the dev.17 version at https://phet-dev.colorado.edu/html/curve-fitting/1.0.0-dev.17/phet/curve-fitting_en_phet.html.

[2019-08-12 21:47] amanda-phet commented on #133
Thanks. I'll keep an eye out for this in interviews tomorrow!

[2019-08-12 21:49] SaurabhTotey commented on #132
I am marking this issue as status:blocked until https://github.com/phetsims/scenery/issues/457 has an answer because this issue is reliant on the resolution to that issue.

[2019-08-13 03:26] ariel-phet commented on #133
@amanda-phet it does strike me as a bit odd. You have "pointer down" while dragging these items, and it seems there should be a way to say if you have pointer down (with the mouse) you don't get hover behavior on other items.

@SaurabhTotey you might want to ask the dev channel if there is a workaround for this sort of thing already. Having the multitouch behavior is fine, but when you are interac

[2019-08-13 16:32] SaurabhTotey commented on #133
I believe I have addressed this on master now, but I will need to make sure on a multitouch device.

[2019-08-14 21:40] amanda-phet commented on #136
This looked good in interviews and students were focused on what made the meter increase/decrease, which is the goal. I think this change made sense so I'll close the issue.

[2019-08-14 21:40] #136 closed

[2019-08-14 21:41] amanda-phet commented on #135
The pointer areas posed no issues at all for both interviews done on touch.

[2019-08-14 21:41] #135 closed

[2019-08-14 21:42] amanda-phet commented on #133
The students I interviewed didn't notice a problem relating to this issue, but I'm glad @SaurabhTotey was able to look into a fix.

[2019-08-14 21:48] amanda-phet opened #139 "Equation, but no line"
I noticed this in interviews and it seems very odd to me.

To reproduce:
1. Place one point in the grid
2. Turn on curve

There is a linear equation shown (which updates as the point moves), but there is no line being graphed (which is not consistent with the equation- an equation of a line).

I see three possible options as fixes:
(1) The equation should read y = 0x + 0, which is technically stil

[2019-08-15 15:22] SaurabhTotey commented on #133
After briefly testing on a multitouch device, it seems like this issue can be closed. Please reopen if I missed anything, or there needs to be more done.

[2019-08-15 15:22] #133 closed

[2019-08-15 19:41] amanda-phet commented on #139
Decision:
Instead of an equation
![image](https://user-images.githubusercontent.com/7852916/63121698-4f523a80-bf62-11e9-8baa-e63d92cd6f4e.png)

the accordion box will simply read "undefined"

[2019-08-15 19:55] amanda-phet opened #140 "pixel polishes"
- [ ] make the x and y axes labels a tiny bit larger
- [ ] add a little space between X and r and their exponents

[2019-08-15 19:57] amanda-phet commented on #132
Decision 8/15/19: defer the ability to translate the equation until after a 1.0 release. @SaurabhTotey will continue to look into KaTex and if the newer version allows for unicode characters.

[2019-08-16 16:31] SaurabhTotey commented on #139
This has now been implemented in master. Assigning to @amanda-phet to review.

[2019-08-16 16:32] SaurabhTotey commented on #140
I have made minor adjustments to both the spacings of the exponents and the size of the axes labels in master. I can make more pronounced changes if necessary.

[2019-08-19 22:03] amanda-phet commented on #139
Looks good to me.

[2019-08-19 22:03] #139 closed

[2019-08-19 22:03] amanda-phet commented on #140
These look fine to me.

[2019-08-19 22:03] #140 closed

[2019-08-22 18:41] pixelzoom opened #141 "self code review"
Hi @SaurabhTotey.  @ariel-phet asked me to do the final code review for Curve Fitting.  Before that happens, you should run through the checklist yourself, using this issue.  When you've completed the checklist, and the sim is ready for final code review, please create a "final code review" GitHub issue with this same checklist, and assign it to me.  Let me know if you have questions about any of

[2019-08-24 23:07] SaurabhTotey commented on #132
Closing because it has since been solved since updating KaTeX to a newer version.

[2019-08-24 23:07] #132 closed

[2019-08-24 23:44] SaurabhTotey commented on #141
For

I fixed any lines that were much longer than 120 characters, but there are a few lines that run just a few characters over that I don't think need to be fixed. Furthermore, there are a few other lint issues regarding use of functions before declaration, but from what I can tell, it seems to be a pattern we are using in other places in the code base, so I didn't change those. Certain functions

[2019-08-25 04:39] pixelzoom commented on #141
The 120-char limit is up to developer discretion.  And sim_es6_eslintrc_review.js will be going away, see https://github.com/phetsims/chipper/issues/734.  So I think you're totally fine here.

[2019-08-28 04:38] SaurabhTotey opened #142 "Memory Test"
Memory test with master for #141.

| Minutes | Heap Size (MB) |
| --- | --- |
| 0 | 17.9 |
| 5 | 27.3 |
| 10 | 27.2 |
| 15 | 27.1 |
| 20 | 27.0 |
| 25 | 27.6 |
| 30 | 29.1 |
| 35 | 30.3 |
| 40 | 30.3 |
| 45 | 33.1 |
| 50 | 32.8 |
| 55 | 31.5 |
| 60 | 31.8 |

[2019-08-28 18:16] SaurabhTotey opened #143 "Final Code Review"
PhET code-review checklist
=============

* Mark failed items with ❌
* Call attention to items with ⚠️

## **Build and Run Checks**

- [x] Does the sim build without warnings or errors?
- [x] Does the html file size seem reasonable, compared to other similar sims?
- [x] Does the sim start up? (requirejs and built versions)
- [x] Does the sim experience any assertion failures? (run with query param

[2019-08-28 20:57] pixelzoom opened #144 "review and sign-off for model.md"
Related to code review https://github.com/phetsims/curve-fitting/issues/143.

In https://github.com/phetsims/curve-fitting/issues/71, I see a discussion between 2 developers about completing [model.md](https://github.com/phetsims/curve-fitting/blob/master/doc/model.md) and implementation-notes.md.   But I can find no paper trial indicating that the lead design (@amanda-phet) reviewed and signed of

[2019-08-28 21:16] pixelzoom opened #145 "reconsider overall layout"
Related to code review #143.

Why is the bucket so far away from the graph?  Why is there so much empty space below and right of the graph?  Here's what the sim looks like now, very lopsided:

<img width="915" alt="screenshot_1403" src="https://user-images.githubusercontent.com/3046552/63893078-7703c280-c9a6-11e9-966e-791b61139de1.png">

Something like this looks better and makes the bucket more u

[2019-08-28 21:21] pixelzoom opened #146 "center control panels in negative space"
Related to code review #143.

Here's where the control panels are currently located, with tiny little margins around the dev bounds, and lots of space between the graph:

<img width="915" alt="screenshot_1403" src="https://user-images.githubusercontent.com/3046552/63893296-090bcb00-c9a7-11e9-8a02-dda77c349e42.png">

In combination with #145 (moving the bucket), horizontally centering the panels in

[2019-08-28 21:29] pixelzoom commented on #145
This looks even more balanced to me, combined with the change suggested in #146:
* Graph is in the center of the screen
* Deviations accordion box is horizontally centered in negative space to left of graph, vertically centered on the graph.
* Right side control panels are horizontally centered in negative space to right of graph, top-aligned with the graph.
* Bucket is below left-aligned with pan

[2019-08-28 21:31] pixelzoom commented on #146
Merging this suggesting into #145.

[2019-08-28 21:31] #146 closed

[2019-08-28 21:33] pixelzoom commented on #145
Oops.  And then I found "Adjustable fit" sliders, see below.  So maybe we can at least move the bucket closer to the graph, and horizontally center panels in negative space?

<img width="917" alt="screenshot_1404" src="https://user-images.githubusercontent.com/3046552/63894141-25106c00-c9a9-11e9-8ac5-08091f47c074.png">

[2019-08-28 22:14] pixelzoom opened #147 "symbol for "delta""
Noticed while reviewing English strings for code review #143.

In curve-fitting-strings_en.json:

[code]

This appears on the points, like this:

<img width="127" alt="screenshot_1405" src="https://user-images.githubusercontent.com/3046552/63896225-b33b2100-c9ae-11e9-97e1-9f65cf8d31a2.png">

Is "D" the proper symbol to be using for "delta"?  Why not "Δ" or "δ" ?

[2019-08-28 22:25] pixelzoom opened #148 "return curveFitting.register"
Related to code review #143.

Throughout this sim's code, `register` is used like this:

[code]

Since `register` returns its 2nd arg, the preferred PhET convention is:

[code]

@SaurabhTotey up to you whether you want to change this.  It's not wrong the way it is. I mainly wanted you to be aware of the preferred pattern.

[2019-08-28 22:41] pixelzoom opened #149 "fitProperty should be an instance of EnumerationProperty"
Related to #143 code review.

In CurveFittingModel, this should be an `EnumerationProperty`:

[code]

I.e.:

[code]

[2019-08-28 22:51] pixelzoom opened #150 "use Property validation options"
Related to this item in code review #143:

There are currently no usages of validation options in this sim.   This info is important for catching programming errors, and for future PhET-iO instrumentation.

For example, in Curve.js:

[code]

should be:

[code]

In Point.js:

[code]

should be:

[code]

So....

* Take a look at all NumberProperty instances, add `range` for any that have a range.
*

[2019-08-28 23:02] pixelzoom opened #151 "unused options param in BarometerX2Node"
Related to code review #143.

`BarometerX2Node` constructor has an `options` parameter that is unused.  I don't see it used in any `new BarometerX2Node` calls, so you can probably just delete it.

[2019-08-28 23:08] pixelzoom opened #152 "move createRadioButton out of CurveOrderPanel constructor"
Related to code review #143.

In CurveOrderPanel constructor:

[code]

It would be better to add `@param {Property} property` to this function and move it outside of the constructor.  I.e.:

[code]

Then usage becomes:

[code]

There's probably only one instance of CurveOrderPanel in the sim.  But you want to get in the habit of moving function definitions outside of the constructor when possible.

[2019-08-28 23:10] pixelzoom opened #153 "use nested options for CoefficientSliderNode"
Related to code review #143.

CoefficientSliderNode is a good opportunity to use nested options. The first part of its constructor looks like this:

[code]

The doc "@param {Object} [options] for slider node" is incorrect, because `labelOptions` is not for Slider.

Something like this would be better. Note the use of `merge` and `sliderOptions`.

[code]

[2019-08-28 23:14] SaurabhTotey commented on #149
Sounds good, I'll get on that. Perhaps the documentation here https://github.com/phetsims/phet-core/blob/master/js/Enumeration.js#L40-L44 should be updated as well then.

[2019-08-28 23:15] pixelzoom opened #154 "Differentiate between `Property` and "property" in comments"
For this code review item in #143:

There are 9 uses of "property" in comments that should be "Property".

[2019-08-28 23:21] pixelzoom commented on #150
Using validation options will also make assertions like this in CurveFittingModel unnecessary:

[code]

[2019-08-28 23:27] pixelzoom opened #155 "use assert more liberally"
Use of `assert` is a little light in this sim.  I only see 6 occurrences of `assert && assert`.    No need to change anything at this point, but I wanted to make sure you understand when to use `assert`.   Use it to check pre and post assumptions for methods.  And in an untyped language like JavaScript, `assert` is one of your most important tools for doing your own type checking.

For comparison,

[2019-08-28 23:42] pixelzoom opened #156 "insufficient documentation for calls to link, addListener, etc."
For this item in code review #143:

such as primary model and view classes that exist for the duration of the sim.
	- [ ] AXON: `Property.link` is accompanied by `Property.unlink`.
	- [ ] AXON: Creation of `DerivedProperty` is accompanied by `dispose`.
	- [ ] AXON: Creation of `Multilink` is accompanied by `dispose`.
	- [ ] AXON: `Events.on` is accompanied by `Events.off`.
	- [ ] AXON: `Emitter.ad

[2019-08-28 23:48] pixelzoom commented on #71
@veillette @jonathanolson @SaurabhTotey  FYI, I found both of these files to be a bit "sparse" during final code review #143.   I created #144 to get lead design sign-off on model.md, because it looks like that didn't happen.  And I checked off implementation-notes.md in the review list, even though it didn't give me any "overview" of things like model-view transform, lifetime of Properties and ot

[2019-08-29 00:01] #141 closed

[2019-08-29 00:01] pixelzoom opened #157 "sim uses non-default layout bounds with different aspect ratio"
Noted in code review #143.

Default layoutBounds for a ScreenView (the red rectangle you see with `?dev`) are:

[code]

This sim uses custom layout bounds, with a different aspect ratio.  In CurveFittingConstants:

[code]

This has been determined to cause problems in the past, and in https://github.com/phetsims/joist/issues/542#issuecomment-455300368 the census was:

@ariel-phet @amanda-phet @aro

[2019-08-29 00:09] SaurabhTotey commented on #148
I have made the change because it seems cleaner. Assigning to @pixelzoom to review.

[2019-08-29 00:10] SaurabhTotey commented on #149
I have made the change for CurveFittingModel. Assigning to @pixelzoom to review.

[2019-08-29 00:10] pixelzoom opened #158 "unused dispose functions"
Related to this item for code review #143:

Implementing `dispose` functions that are not used is also a problem.  It's unexercised code, and it confuses future maintainers about what really needs to be disposed.  That said...

I see implementations of `dispose` for BarometerNode, BucketNode, EquationNode, PointNode.   But the only call to `dispose` that I see being used is for PointNode, in Bucke

[2019-08-29 00:10] SaurabhTotey commented on #151
I believe this is done now. Assigning to @pixelzoom to review.

[2019-08-29 00:12] SaurabhTotey commented on #152
I moved the function out of the class. Assigning to @pixelzoom to review.

[2019-08-29 00:13] SaurabhTotey commented on #154
I changed all the usages of "property" in the comments that I could find. However, I only counted 8. Could you point me to where the last one is @pixelzoom?

[2019-08-29 00:15] SaurabhTotey commented on #156
I tried finding all missing comments, but it is possible that I may have missed a few. Assigning to @pixelzoom to review.

[2019-08-29 00:20] pixelzoom commented on #157
By the way... This is no fault of @SaurabhTotey or any of the other authors.  The custom bounds were present from the beginning, probably ported from a legacy version.   And the authors had no way to know about  phetsims/joist#542 .

[2019-08-29 00:23] pixelzoom commented on #143
Code review is done.  Overall, the code is in nice shape, so well done!

Summary:
* The only serious problem is #147 (non-default layoutBounds), which is not fault of any of the code authors.
* Design issue #145 (revisit layout) is also significant, and could be impacted by layoutBounds changes.
* All of the other issues are relatively insignificant and should be easy to address.

Back to @Saurabh

[2019-08-29 00:24] pixelzoom commented on #145
Before changing any layout code, decide what to do about #157 (non-standard layout), since that will change everything.

[2019-08-29 00:24] pixelzoom commented on #157
Considering that the general layout needs revisiting (see #145), switching to the default layoutBounds is probably something that should be done.

[2019-08-29 02:38] pixelzoom commented on #148
👍 closing

[2019-08-29 02:38] #148 closed

[2019-08-29 02:41] pixelzoom commented on #149
👍 Commit looks good.

I don't think the documentation for Enumeration should say anything about EnumerationProperty, for the same reason that Vector2 shouldn't say anything about Vector2Property.  Those classes are values, and their API and doc shouldn't know anything about Property.

[2019-08-29 02:41] #149 closed

[2019-08-29 02:41] pixelzoom commented on #151
👍 closing

[2019-08-29 02:41] #151 closed

[2019-08-29 02:46] pixelzoom commented on #152
Looks good.  But I changed the order of args to `createRadioButton` to match the order of args to `AquaRadioButton`, i.e.:

`function createRadioButton( orderProperty, value, label )`

`new AquaRadioButton( orderProperty, value, new Text( label, ... ), ... )`

And since `orderProperty` is the thing that's the same in all of the call, it's nice to have it first in the calls:

[code]

If that looks

[2019-08-29 02:48] pixelzoom commented on #154
Sorry, I must've counted wrong.  Looks like you got them all.  Closing.

[2019-08-29 02:48] #154 closed

[2019-08-29 04:44] ariel-phet commented on #157
@pixelzoom do you think it would be most efficient for you to make this switch?

[2019-08-29 04:46] ariel-phet commented on #145
@pixelzoom I think we would definitely be open to moving the bucket once the layout bounds are revised

[2019-08-29 05:13] pixelzoom commented on #157
It depends on the release schedule for this sim, not sure if I have the time.

Here's what the sim looks like currently, with custom `layoutBounds: new Bounds2( 0, 0, 768, 504 )`:

<img width="1105" alt="screenshot_1414" src="https://user-images.githubusercontent.com/3046552/63911927-42652a80-c9e9-11e9-9453-7cb442b94ca4.png">

Here's what the sim will look like with no adjustments and default `lay

[2019-08-29 05:35] pixelzoom commented on #157
Here's the result of 15 minutes.  Did not adjust font sizes or point sizes.  Graph fills more of the play area, less overall negative space.  Bucket could also be under Deviations accordion box.

I did not commit, patch attached below.  Let me know if you want me to continue.  If so, we should talk about #145 layout.

<details>
<summary>Patch</summary>

[code]

</details>

<img width="920" alt="sc

[2019-08-29 05:41] pixelzoom commented on #157
Here's another layout, keeps the bucket away from the Reset All button.

<img width="916" alt="screenshot_1417" src="https://user-images.githubusercontent.com/3046552/63913415-4b57fb00-c9ed-11e9-83f6-c13b69796546.png">

[2019-08-29 16:53] ariel-phet commented on #157
@pixelzoom the layout just above looks good to me

[2019-08-29 17:11] pixelzoom commented on #157
Summary of changes in the above commit:
* switched to default layoutBounds
* increase font sizes
* increased spacings
* increased margins
* increases point radius
* moved specification of fonts/spacing/margins to CurveFittingConstants, to make tweaking easier
* made Reset All button the standard size

There are still a few things that need adjustment:
* GraphEquationAccordionBox and its contents
*

[2019-08-29 17:48] pixelzoom opened #159 "symbols with incorrect font"
There are some symbols that are not rendered in the correct font.  In 1.0.0-dev.17:

- [x] _y_ in the Equations accordion box and Fit panel:

<img width="381" alt="screenshot_1420" src="https://user-images.githubusercontent.com/3046552/63963651-bdaef680-ca52-11e9-8deb-2f7b55c7faab.png">
<img width="202" alt="screenshot_1421" src="https://user-images.githubusercontent.com/3046552/63963653-bf78ba00-

[2019-08-29 18:07] amanda-phet commented on #147
The original uses 'D' so I just assumed that's what Mike wanted, but I just emailed an confirmed with him that it should use the capital greek delta. Please use '∆' instead of 'D'.

[2019-08-29 18:09] pixelzoom commented on #159
Fixing _y_ was straightforward.

Fixing _D<sub>y</sub>_ is not going to be straightforward.  The label and value are all one string.

@amanda-phet could you please confirm that _D<sub>y</sub>_ should be in Math font?

[2019-08-29 19:06] pixelzoom commented on #159
In #147, 'D' was changed to '∆', so points now look like this:

<img width="147" alt="screenshot_1423" src="https://user-images.githubusercontent.com/3046552/63968783-acb7b280-ca5d-11e9-80b7-4bbd0e83475c.png">

@amanda-phet should '∆<sub>y</sub>' be in PhET's standard math font?

[2019-08-29 19:07] pixelzoom commented on #147
Changed in the above commit, see screenshot below.   In #159, we're still working out whether this should be using math font.

<img width="147" alt="screenshot_1423" src="https://user-images.githubusercontent.com/3046552/63968878-d7a20680-ca5d-11e9-9943-d594766359da.png">

[2019-08-29 19:07] #147 closed

[2019-08-29 19:37] pixelzoom commented on #157
The Equations accordion box is problematic.   It should be using `ToggleBox`, which needs to be migrated from vector-addition to scenery-phet.

[2019-08-29 20:09] pixelzoom commented on #145
This is being handled over in #157.  Closing.

[2019-08-29 20:09] #145 closed

[2019-08-29 21:54] pixelzoom commented on #157
This is at a good place for review.  @amanda-phet @ariel-phet have a look, let me know what you'd like tweaked.  @SaurabhTotey FYI, many changes here, let me know if you have questions.

[2019-08-30 02:35] SaurabhTotey commented on #152
Oh I completely missed that! That does look better though, so I'll close this. Thanks!

[2019-08-30 02:35] #152 closed

[2019-08-30 03:13] SaurabhTotey commented on #158
I removed the dispose functions for BarometerNode and EquationNode, but I was unable to find BucketNode's dispose. Did I miss something, or is this all good now?

[2019-08-30 03:22] SaurabhTotey commented on #153
I switched to the more consistent nesting and use of merge. Assigning to @pixelzoom to review.

[2019-08-30 16:13] amanda-phet commented on #157
I like the new layout! I like the larger graph, and the location of the bucket. Can we possibly make the bucket smaller though? It looks enormous, but the pile of points is the same size.

[2019-08-30 16:17] amanda-phet commented on #159
Yes, they probably should use math font and should look like this:
![image](https://user-images.githubusercontent.com/7852916/64035928-2f4c7a80-cb0f-11e9-8dea-cbaaf34519e5.png)

The delta should not look italicized, and I'm pretty sure our "math font" is times italic, right? So if you make it "math font" I'd like to take one last look at it.

[2019-08-30 16:18] amanda-phet commented on #159
Isn't delta unicode? Anyway, I'm not exactly sure how it's going to be handled, but I imagine if it's a symbol that it won't be affected by the font.

[2019-08-30 19:56] SaurabhTotey commented on #150
I have now added more property validation. Assigning to @pixelzoom to review.

[2019-08-30 20:02] SaurabhTotey commented on #155
Ok, I'll be sure to make more use of assert for the future. Thanks for the heads up!

[2019-08-30 20:02] #155 closed

[2019-08-30 20:26] SaurabhTotey opened #160 "Performance Review"
This sim still needs to undergo performance review. I built [dev.18](https://phet-dev.colorado.edu/html/curve-fitting/1.0.0-dev.18/phet/curve-fitting_en_phet.html)  which is up-to-date as of right now. Please sign off for all supported platforms.

[2019-08-30 21:16] KatieWoe commented on #160
- [ ] Win 10 chrome
- [ ] Win 10 firefox
- [ ] Win 10 edge
---
- [ ] Win 7 chrome
- [ ] Win 7 firefox
- [ ] Win 7 internet explorer
---
- [ ] Mac 10.14 chrome
- [ ] Mac 10.14 safari
---
- [ ] Mac 10.13 chrome
- [ ] Mac 10.13 safari
---
- [ ] Mac 10.12 chrome
- [ ] Mac 10.12 safari
---
- [ ] Mac 10.11 chrome
- [ ] Mac 10.11 safari
---
- [ ] Mac 10.10 safari
---
- [ ] Chrome OS
---
- [ ] iOS 12
- [

[2019-08-31 17:21] pixelzoom commented on #157
@amanda-phet The bucket size was reduced by @SaurabhTotey.  Please review and let us know if there's anything else to do here.   Feel free to close if all good.

[2019-08-31 17:37] pixelzoom commented on #159
It going to be difficult to use different font for 'Δ' and 'y'.  We typically do subscripts using RichText and HTML markup, in this case: "Δ<sub>y</sub>".   To do different fonts, we'll need to create custom code to handle the subscript.  And because font height different across browsers, the 'y' subscript will not be in the same place as other subscripts (may be off a pixel or so).

So my recomme

[2019-08-31 17:51] pixelzoom commented on #159
I said:

Scratch that. I figured out how to style the  'Δ' and 'y' separately, see screenshot below.

@amanda-phet please verify in master.

<img width="153" alt="screenshot_1426" src="https://user-images.githubusercontent.com/3046552/64067432-9f2d3480-cbe5-11e9-9b07-9379d14611ef.png">

[2019-08-31 18:06] pixelzoom commented on #153
The label font got reverted in https://github.com/phetsims/curve-fitting/commit/dee6c345a2a35ba6eb785a529ad698acc19aa50b.  I had changed it to `CurveFittingConstants.COEFFICIENT_FONT` as part of #157, and you set it back to `font: new PhetFont( { weight: 'bold', size: 13 } )`.    So I've fixed that in the above commit.

[2019-08-31 18:08] pixelzoom commented on #153
The label font got reverted in https://github.com/phetsims/curve-fitting/commit/dee6c345a2a35ba6eb785a529ad698acc19aa50b.  I had changed it to `CurveFittingConstants.COEFFICIENT_FONT` as part of #157, and you set it back to `font: new PhetFont( { weight: 'bold', size: 13 } )`.    So I've fixed that in the above commit.

[2019-08-31 18:13] pixelzoom commented on #153
Sorry that that didn't notice before, but the `options` arg to `CoefficientSliderNode` is never used.  The single use of `CoefficientSliderNode` is in `FitPanel`:

[code]

So in this case, there's no need to have any options related to the Slider or Text label. Simply pass the desired options to the Slider and the Text.  I've made that change in the above commit.  This also saves a tiny bit of mem

[2019-08-31 18:20] pixelzoom commented on #153
Hmm... There's something else that's strange here, so I've restored `sliderOptions` and `labelOptions` in the above commits.

In FitPanel:

[code]

Where is the `enabledProperty` option value being used?  CoefficientSliderNode and its subclass VBox have no such option.  And while using this sim, I haven't run into any situation where a slider is disabled.

[2019-08-31 18:23] pixelzoom commented on #153
It looks to me like `enabledProperty` is unused and can be delete from `slidersAttributes` and the options to `new CoefficientSliderNode`.

[2019-08-31 18:32] pixelzoom commented on #158
Looks like you got them all @SaurabhTotey.  I must've been hallucinating about BucketNode, or might have been looking at `FRACTIONS_COMMON/BucketNode`.

Closing.

[2019-08-31 18:32] #158 closed

[2019-08-31 18:45] pixelzoom commented on #156
@SaurabhTotey I found a few more in the above commit.  Feel free to close after reviewing.

[2019-09-01 04:06] SaurabhTotey commented on #153
Looking in FitPanel on lines 138 and 139, I see this comment
[code]

I don't know if this still holds true, so I will need to test on a multitouch device before deleting `enabledProperty`.

[2019-09-01 04:09] SaurabhTotey commented on #156
It all seems good to me. Closing.

[2019-09-01 04:09] #156 closed

[2019-09-03 17:45] KatieWoe commented on #160
Possible Issues (will update comment as found):
* Win 10 Firefox.  Not bad, but the biggest cause of a loss of fps is when the curve is active and you are adjusting the error bars.  May help to have a larger number of points out.

[2019-09-03 19:16] amanda-phet commented on #157
I see on phettest now- that bucket size looks more reasonable. All looks good to me.

[2019-09-03 19:17] amanda-phet commented on #159
Looks good to me.

[2019-09-03 19:17] #159 closed

[2019-09-03 21:23] SaurabhTotey commented on #153
After doing some testing, it looks like the enabledProperty didn't do anything, so I removed it. Closing this issue now.

[2019-09-03 21:23] #153 closed

[2019-09-03 21:30] SaurabhTotey commented on #142
Values seem fine, noted in #143. Closing.

[2019-09-03 21:30] #142 closed

[2019-09-04 17:28] KatieWoe commented on #160
No iOS 11 devices in the office currently, but I'm fairly happy with this test as is.  Everything seemed acceptable to me.  @amanda-phet to confirm

[2019-09-04 17:39] amanda-phet commented on #160
@KatieWoe are you wanting me to test on iOS11?

[2019-09-04 17:41] KatieWoe commented on #160
@amanda-phet No, I think it is fine if we let it go without.  I wanted you to take a look on any platform and sign off on the performance as a designer.

[2019-09-04 17:42] amanda-phet commented on #160
Gotcha. Thanks, I am happy with the performance I've seen on Mac OS 10.14.

[2019-09-04 17:42] #160 closed

[2019-09-05 14:51] pixelzoom commented on #150
Looks good, closing.

[2019-09-05 14:51] #150 closed

[2019-09-11 20:07] KatieWoe opened #161 "Residual checkbox may not reset when reset all is used"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/423.
It is possible to reset all but still have the residual checkbox even though it doesn't appear to be.  Note, if you do not do step 5 bellow, residual resets fine.
**Steps to reproduce**
1. Refresh the sim page
2. Put two points out
3. Activate curve checkbox
4.

[2019-09-11 20:38] SaurabhTotey commented on #161
I believe I fixed this in the previous commit in master. Assigning to @KatieWoe to review and sign off.

[2019-09-11 20:41] KatieWoe commented on #161
Looks good on master

[2019-09-11 20:41] #161 closed

[2019-09-11 20:54] loganbraywork opened #162 "Wrong line of best fit appears when adjusting points at (0,10) and (0,-10)"
Report a Problem
Instructions: Copy the form below and paste it into an email addressed to phethelp@colorado.edu. Please fill out the form as accurately and concisely as you can.

**Test device**
Windows 7 Laptop
**Operating System**
Professional 6.1
**Browser**
Chrome  version 77.0.3865.75
**Problem description**
From https://github.com/phetsims/QA/issues/423

When placing points in a vertical li

[2019-09-11 21:42] KatieWoe opened #163 "Design Suggestion: Adjustable Fit before Best Fit"
For https://github.com/phetsims/QA/issues/423
I noticed that, when you activate the curve checkbox, the best fit option is the default.  I think it might make more sense to make the adjustable fit default.  If a teacher's goal is to have students predict that line, the current option may flash the right answer before they can experiment (although admittedly only the linear option).

[2019-09-13 15:03] amanda-phet commented on #162
This kind of looks like a rounding error. When you move the bottom point to (0, -10) it looks like it's not exactly on the y-axis, but maybe a pixel to the left. Hard to say for sure, but my best guess in this situation is that the coordinates have been rounded and the points might not be as precise as we think.

[2019-09-13 19:23] SaurabhTotey commented on #162
I believe this is a rounding issue as @amanda-phet suggests. The points have a more precise position with a high amount of decimals compared to the value display which only shows values up to the tenths place. I am unable to reproduce this issue with the `snapToGrid=true` query parameter.

However, it may be apt to round all position values to the nearest tenths place to avoid confusion from thing

[2019-09-13 19:27] SaurabhTotey commented on #143
Thanks @pixelzoom! I'll go ahead and close this issue, since the last leftover issue from this is #144.

[2019-09-13 19:27] #143 closed

[2019-09-13 19:40] pixelzoom commented on #143
👍

[2019-09-13 19:42] SaurabhTotey commented on #162
I pushed a temporary commit to master where the points' positions are rounded to the nearest tenth. @amanda-phet let me know whether to keep this commit or whether to revert it.

[2019-09-16 20:27] amanda-phet commented on #162
Does this mean the points snap to the position on the graph? That's how it seems to me, and I find that behavior a bit odd. My coordinates say (0,10) and I drop the point, then the point moves a few pixels up. If that's what is happening, I think I prefer the original.

[2019-09-16 20:28] amanda-phet commented on #162
@KatieWoe what do you think of the change?

[2019-09-16 20:32] amanda-phet commented on #163
That makes sense to me. However the learning goals aren't exactly about estimating the best fit, but instead comparing the values of X^2 and r^2 between different curves, and the change in those each time you add a term to the polynomial curve. Then the user can use adjustable fit to see how the best fit is determined.

[2019-09-16 20:32] #163 closed

[2019-09-16 20:35] KatieWoe commented on #162
It is definitely a noticeable change.  It didn't personally bother me, but might have felt better if I could see the grid it was attaching too.  Overall, I don't think the original bug is too bad, so I would be happy either leaving as is or with the fix @SaurabhTotey proposed.

[2019-09-16 20:37] amanda-phet commented on #162
My vote is to leave as-is, and recognize that this rounding issue could happen, but is unlikely since the sim is not intended for such precise usage.

[2019-09-16 20:51] SaurabhTotey commented on #162
Ok, sounds good. I'll revert the change then.

[2019-09-17 20:58] SaurabhTotey commented on #162
The changes have been reverted. Closing this issue.